/* untitled-print.css
   Stylesheet declarations for my homepage.
   Last rebuild: November 25 2005 03:45 PM from DML "1.92"
 */


/* HTML tag styles */

body {
	font-family: 		georgia, garamond;
}

h1 {
	margin:				0px;
}

h2 {
	margin:				0px;
}

h3 {
	margin:				0px;
}

img {
	border:				0;
}

td {
	vertical-align:		top;

}

ul {
	list-style-type:	square;
}

a {
	text-decoration:	underline;
}

a.linksubdued {
}

a:hover {
	text-decoration:	overline underline;
}

p, ul, ol, dl {
	font-family:   		verdana, arial;
	font-size:			small;
}

/* Custom styles */

/* ---- Design elements ---- */

/* Contains page; used to limit its width in
   standards-compliant browsers. */

#container {
	text-align:			left;
	border:				none;
}

.containercontainer {
	text-align:			center;
}

/* Used frequently to add padding inside box elements */
.padded {
	padding:			6px;

}

/* Add lots of spacing around the body content */
.body_padded {
	margin:				15px;
}

/* Contains the list of other areas on the site */
.submenu {
	display: none;
}

/* Menu bar down right side of page */
.menu {
	display: none;
}

/* Footer */
.footer {
	font-size:			x-small;
	font-family:		verdana;
	color:				#909090;
	clear:				both;
	border-top:				1px solid #c0c0c0;
	width:				100%;
}

/* ---- Text elements ---- */


/* vi stuff */
.vi_table {
	border:				1px dotted black;
}

.vi_key {
	font-family:		courier;
	vertical-align:		top;
}

.vi_explanation {
	vertical-align:		top;	
}

/* Section title */
.menutop {
	display: none;

}

/* Subsection titles */
.menuheader {
	width: 				100%;
	text-align:			left;
	font-weight:		bold;
	color:				#606090;
	background-color:	#e0e0e0;
	border-bottom:		1px dashed black;
	letter-spacing:		0.2em;
}

/* Lighter gray links or text */
.subdued {
	color:				#909090;
}

/* "In this area..." */
.submenu_declaration {
	display: none;
}

/* Adjusted widths for columns */
.body_leftmargin {
	display:			none;
}

.body_maincontent {
	width:				70%;
}

/* Surrounding [ ] on section title */
.lightorange {
	color:				#a0a0c0;
}

/* Gray bar on top of page */
.pagetop {
	display:			none;
}

/* Blocks of computer code */
.codeblock {
	padding:			5px;
	border:				1px dotted #a0a0a0;
	font-family:		courier;
}

/* Table cells for FAQ */

.faq_field {
	vertical-align:		top;
	text-align:			right;
	font-weight:		bold;
	border-right:		1px dotted #c0c0c0;
}

.faq_value {
	vertical-align:		top;
	text-align:			left;
}

/* For the CV, pretty much */
.sep {
	border-top:			1px solid gray;
}

.print_icon {
	display:			none;
}


/*
     FILE ARCHIVED ON 16:25:21 Feb 08, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:06:52 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 47.25 (3)
  esindex: 0.009
  captures_list: 67.728
  CDXLines.iter: 11.515 (3)
  PetaboxLoader3.datanode: 100.123 (4)
  exclusion.robots: 0.17
  exclusion.robots.policy: 0.156
  RedisCDXSource: 5.962
  PetaboxLoader3.resolve: 99.591
  load_resource: 172.653
*/