body,
.btn {
  font-size: 18px;
}

body {
  font-family: lexia, Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #404040;
  font-weight: 300;
  padding-top: 80px;
}

a, a:hover {
  color: #ff4b27;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}

p.lead {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h1 {
  color: #049aab;
}

h1 a, h2 a, h3 a, p.lead a,
h1 a:hover, h2 a:hover, h3 a:hover, p.lead a:hover,
h1 a:active, h2 a:active, h3 a:active, p.lead a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p.lead, .small, label {
  font-style: normal;
  font-weight: 100;
  line-height: 1.125;
}

h1, .h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

h4, h5 {
  font-style: italic;
}

ol, ul {
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 1em;
}

li {
  margin-bottom: 10px;
}

li ul {
  margin-top: 10px;
}

.navbar ul {
  margin-bottom: 0;
}

.navbar li {
  margin-bottom: 0;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}

blockquote {
  padding: 0;
  font-size: 24px;
  border-left: none;
  margin: 15px 0 30px 0;
  font-style: italic;
}

blockquote p:before {
  content: "“";
}

blockquote p:after {
 content: "”";
}

blockquote footer, blockquote small, blockquote .small {
  color: inherit;
  text-align: right;
}

iframe[name=google_conversion_frame] {
  display: none;
}

pre, .syntaxhighlighter, .post .gist .gist-file {
  border-radius: 0;
}

.post .gist .line-pre, pre, .post .syntaxhighlighter div, .post .syntaxhighlighter code, .gist .gist-data {
  font-size: 11px !important;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
}

pre, .syntaxhighlighter {
  padding: 9.5px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
}

pre.line-pre {
  font-size: 1em;
}

.keyline-top {
  border-top: 1px solid #e5e5e5;
}

.keyline-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.keyline-left {
  border-left: 1px solid #e5e5e5;
}

.keyline-right {
  border-right: 1px solid #e5e5e5;
}

.alert {
  border-width: 0;
  border-radius: 0;
}

.alert-info {
  background-color: #e6f4f5;
  color: #025A6E;
}

.navbar-default {
  background-color: rgba(4, 139, 154, .8);
  border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  opacity: .8;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #fff;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, .2);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
}

.navbar-brand {
  font-size: 21px;  
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.btn, .btn:hover {
  border-radius: 0;
  border-width: 0;
  font-style: italic;
  padding: 12px 48px;
}

.btn-default, .btn-default:hover {
  background: none;
}

.btn-primary, .blue {
  background: #048b9a;
}

.btn-primary:hover {
  background: #026b7b;
}

.btn-danger, .red {
  background: #ff4b27;
}

.btn-danger:hover {
  background: #ff3116;
}

.btn-sm, .btn-sm:hover {
  padding: 6px 12px 5px 12px;
  border-radius: 0;
  font-size: 14px;
}

.green {
  background: #00B26C;  
}

.gray {
  background: #595959;  
}

.nav-filters {
  margin-left: -10px;
}

.nav-filters>li {
  margin: 0 10px 10px 0;
}

.nav-filters>li>a {
  border-radius: 0;
  padding: 10px;
}

.nav-filters>li.active>a, .nav-filters>li.active>a:hover, .nav-filters>li.active>a:focus {
  color: #049AAB;
  background: #c2dcdf; 
}

.nav-filters>li+li {
  margin-left: 0;
}

.form-control {
  color: #404040;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.help-block {
  color: #b3b3b3;
  font-size: 14px;
}

.thumbnail {
  border: 1px solid #b3b3b3;
  border-radius: 0;
}

.well {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: #f2f2f2;
}

@font-face {
  font-family: 'pentel';
  src:url('../fonts/pentel.eot');
  src:url('../fonts/pentel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pentel.woff') format('woff'),
    url('../fonts/pentel.ttf') format('truetype'),
    url('../fonts/pentel.svg#pentel') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hero {  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100px;
  margin-bottom: 30px;
}

.hero h1 {
  font-family: pentel, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
}

.append-xs-15 {
  margin-bottom: 15px;
}

.prepend-xs-15 {
  margin-top: 15px;
}

.append-xs-30 {
  margin-bottom: 30px;
}

.prepend-xs-30 {
  margin-top: 30px;
}

.append-xs-45 {
  margin-bottom: 45px;
}

.prepend-xs-45 {
  margin-top: 45px;
}

.append-xs-60 {
  margin-bottom: 60px;
}

.prepend-xs-60 {
  margin-top: 60px;
}

.append-xs-75 {
  margin-bottom: 75px;
}

.prepend-xs-75 {
  margin-top: 75px;
}

.append-xs-90 { 
  margin-bottom: 90px;
}

.prepend-xs-90 {
  margin-top: 90px;
}

@media (min-height: 320px) {
  .append-sm-15 {
    margin-bottom: 15px;
  }

  .prepend-sm-15 {
    margin-top: 15px;
  }

  .append-sm-30 {
    margin-bottom: 30px;
  }

  .prepend-sm-30 {
    margin-top: 30px;
  }

  .append-sm-45 {
    margin-bottom: 45px;
  }

  .prepend-sm-45 {
    margin-top: 45px;
  }

  .append-sm-60 {
    margin-bottom: 60px;
  }

  .prepend-sm-60 {
    margin-top: 60px;
  }

  .append-sm-75 {
    margin-bottom: 75px;
  }

  .prepend-sm-75 {
    margin-top: 75px;
  }

  .append-sm-90 {
    margin-bottom: 90px;
  }

  .prepend-sm-90 {
    margin-top: 90px;
  }
}

@media (min-height: 768px) {
  .append-md-15 {
    margin-bottom: 15px;
  }

  .prepend-md-15 {
    margin-top: 15px;
  }

  .append-md-30 {
    margin-bottom: 30px;
  }

  .prepend-md-30 {
    margin-top: 30px;
  }

  .append-md-45 {
    margin-bottom: 45px;
  }

  .prepend-md-45 {
    margin-top: 45px;
  }

  .append-md-60 {
    margin-bottom: 60px;
  }

  .prepend-md-60 {
    margin-top: 60px;
  }

  .append-md-75 {
    margin-bottom: 75px;
  }

  .prepend-md-75 {
    margin-top: 75px;
  }

  .append-md-90 {
    margin-bottom: 90px;
  }

  .prepend-md-90 {
    margin-top: 90px;
  }
}

@media (min-height: 1080px) {
  .append-lg-15 {
    margin-bottom: 15px;
  }

  .prepend-lg-15 {
    margin-top: 15px;
  }

  .append-lg-30 {
    margin-bottom: 30px;
  }

  .prepend-lg-30 {
    margin-top: 30px;
  }

  .append-lg-45 {
    margin-bottom: 45px;
  }

  .prepend-lg-45 {
    margin-top: 45px;
  }

  .append-lg-60 {
    margin-bottom: 60px;
  }

  .prepend-lg-60 {
    margin-top: 60px;
  }

  .append-lg-75 {
    margin-bottom: 75px;
  }

  .prepend-lg-75 {
    margin-top: 75px;
  }

  .append-lg-90 {
    margin-bottom: 90px;
  }

  .prepend-lg-90 {
    margin-top: 90px;
  }
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.darken::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer, .footer a {
  color: #fff;
}

.footer a {
  text-decoration: none;
}

.footer p a, .footer address a {
  border-bottom: 1px dotted #fff;
}

.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  padding-top: 30px;
  margin-top: 45px;
}

.footer a, .footer form {
  opacity: 0.7;
}

.footer .keyline {
  border-color: rgba(229, 229, 229, 0.25);
}

.footer a:hover {
  opacity: 1;
}

.footer .nav {
  font-size: 18px;
  margin-left: -15px;
  margin-top: -10px;
}

.footer .nav>li>a:hover {
  background: none;
}

.footer .icon-c5-logo {
  font-size: 45px;
  line-height: 45px;
}

.footer input {
  background: none;
  color: #fff;
  margin-bottom: 5px;
  /* for hubspot */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}

/* for hubspot */
input:focus, textarea:focus {
  border-color: #66afe9;
  outline: 0;
}

.footer label, .footer .hs-error-msgs {
  display: none;
  position: absolute;
  left: -1000px;
}

.footer .hs-form-field, .footer .hs_submit {
  display: inline-block;
  margin: 0 3px 0 0;
  vertical-align: middle;
}

.footer .submitted-message {
  margin: 12px 0 22px 0;
}

.footer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input:-ms-input-placeholder {  
  color: rgba(255, 255, 255, 0.5);
}

.footer .btn {
  color: #fff;
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  vertical-align: inherit;
}

.footer .btn:hover {
  background: #a6a6a6;
  border-color: #a6a6a6;
}

.footer .social {
  font-size: 24px;
  line-height: 24px;  
}

.footer .social a {
  margin: 0 15px 0 0;
}

article .social a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 50%;
  background: #e5e5e5;
  margin: 0 5px 0 0;
  color: #fff;
}

article .social a:hover {
  background: #ff4b27;
}

.text-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* showup nav styles */
.navbar-show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s, background 2s, color .3s;
  -moz-transition: -moz-transform .25s, background 2s, color .3s;
  -o-transition: -o-transform .25s, background 2s, color .3s;
  transition: transform .25s, background 2s, color .3s;
}

.navbar-hide {
  opacity: 0;
  -webkit-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  transform: translate(0, -80px);
  -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0 .3s;
  -moz-transition: -moz-transform .2s, background .3s, color .3s, opacity 0 .3s;
  -o-transition: -o-transform .2s, background .3s, color .3s, opacity 0 .3s;
  transition: transform .2s, background .3s, color .3s, opacity 0 .3s;
}

/* c5 icon font styles */
@font-face {
  font-family: 'c5-logo';
  src:url('../fonts/c5-logo.eot');
  src:url('../fonts/c5-logo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/c5-logo.woff') format('woff'),
    url('../fonts/c5-logo.ttf') format('truetype'),
    url('../fonts/c5-logo.svg#c5-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'c5-logo' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'c5-logo' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-c5-logo-vert:before {
  content: 'c';
}

.icon-c5-logo-horiz:before {
  content: 'b';
}

.icon-c5-logo:before {
  content: 'a';
}

/* blog styles */
article {
  margin-top: 30px;
}

.container-footer ul {
  padding-left: 0;
  list-style: none;
}

.size-full, .size-large, .size-medium, .size-small {
  margin: 15px auto 30px auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

img#wpstats {
  display: none;
}

img.size-large,
img.wp-post-image {
  width: 100%;
  height: auto;
}

img.wp-post-image {
  margin-bottom: 20px;
}

.search-form .form-control {
  border-left: 0; 
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  font-style: italic;
}

.search-form .form-control::placeholder {
  color: #c0c0c0;
}

.search-form .form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #049aab;
}

#menu-header,
#menu-header > li {
  float: none;
  display: inline-block;
}

#menu-header {
  width: 100%;
  text-align: center;
}

.menu-item {
  margin: 0 15px 0 0;
}

.menu-item a {
  color: #404040;
}

.menu-item.active {
  background: #ffebe8;
  border-bottom: 1px solid #ff4b27;
}

/* non-small screen overrides */
@media (min-width: 768px) {
  body {
    font-weight: 100;
  }
  .hero h1 {
    font-size: 54px;
  }
  blockquote {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-collapse.collapse.in { 
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }
}
