BODY {
	color: #000000;
	font-family: helvetica, sans-serif, serif;
	font-size: 8px;
/*	background: #a5acb5;*/
	background: #ffffff;
	background-image: url("../gfx/stripebg.gif");
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding: 0;
}

H1 {
	font-weight: bold;
	font-size: 20;
	line-height: 24px;
	font-family: helvetica, sans-serif, serif;
	font-variant: normal;
	font-style: normal;
}

H2 {
	font-weight: normal;
	font-size: 14;
	font-family: helvetica, sans-serif, serif;
	font-variant: normal;
	font-style: normal;
}

H3 {
	font-weight: bold;
	font-size: 16;
	line-height: 16px;
	font-family: helvetica, sans-serif, serif;
	font-variant: normal;
	font-style: normal;
}

H4 {
	font-weight: bold;
	font-size: 12;
	line-height: 14px;
	font-family: helvetica, sans-serif, serif;
	font-variant: normal;
}

pre {
	font-family: monospace, sans-serif, serif;
	font-size: 12px;
	line-height: 16px;
}

.tips_section {
	font-family: sans-serif, serif;
	font-size: 12px;
	line-height: 16px;
}

.comic_com {
	font-family: sans-serif, serif;
	font-size: 12px;
}

.examples {
	font-family: monospace, sans-serif, serif;
	font-size: 12px;
	line-height: 16px;
	background: #eee;
	background: #f7f7f7;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}

.examples_small {
	font-family: sans-serif, serif;
	font-size: 9px;
	background: #DDDDDD;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}

.dis {
	font-family: sans-serif, serif;
	font-size: 10px;
	background: #CCCCCC;
	font-weight: normal;
	padding: 5px;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}

.page_top {
	font-family: arial, helvetica, sans-serif, serif;
	font-size: 12px;
	font-weight: bold;
	background: #EEEEEE;
	background-image: url("../gfx/stripebg.gif");
	border-bottom: 1px solid #000000;
}

.date_top {
	font-family: arial, helvetica, sans-serif, serif;
	font-size: 10px;
	font-weight: bold;
	background: #EEEEEE;
	background-image: url("../gfx/stripebg.gif");
	border-bottom: 1px solid #000000;
}

.menu_top {
	color: #dddddd;
	font-family: utopia, arial, helvetica, sans-serif, serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
	background: #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.menu_body {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 2px solid #000000;
}

.menu_gap {
	font-size: 9px;
	padding: 0.04em;
}

.news_gfx {
	font-size: 0px;
	line-height: 0px;
}

.content_container {
	background: #ffffff;
	padding-right: 10px;
	padding-left: 10px;
}

.content_gap {
	font-size: 18px;
	padding: 0.04em;
}

.content_bottom {
	background: #000000;
	font-family: serif;
	font-size: 10px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	padding: 0.05em;
}

.content_body {
	background: #FFFFFF;
	color: #000000;
	font-family: arial, helvetica, sans-serif, serif;
	font-size: 8px;
	text-align: left;
	padding-left: 1.4em;
	padding-right: 1.4em;
	padding-top: 0.6em;
	padding-bottom: 0.7em;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top: 4px solid #333333;
	border-bottom: 2px solid #333333;
}


.content_heading {
	color: 000000;
	font-size: 12px;
	line-height: 16px;
	background: #f7d654;
	border-top: 1px solid #B0B0B2;
	border-left: 1px solid #B0B0B2;
	border-right: 1px solid #B0B0B2;
	border-bottom: 1px solid #B0B0B2;
	border-color: #000000;
	padding: 0.01em;
	width: 250px;
}

.content_date {
	color: #dfdfdf;
	font-size: 12px;
	background: #444;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 0px solid #000000;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 5px;
	padding-right: 11px;
	margin-bottom: 1px;
}

.article {
	line-height:22px;
}

.content_news {
	color: #000000;
	background: #ffffff;
	font-size: 14px;
	font-family: serif;
	font-weight: normal;
	border-top: 1px solid #B0B0B2;
	border-bottom: 0px solid #B0B0B2;
	border-color: #000000;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 1.3em;
	padding-right: 0.5em;
}

.content_contact{
	color: #000000;
	background: #EEEEEE;
	font-size: 14px;
	font-family: serif;
	font-weight: normal;
	line-height: 22px;
	border-top: 1px solid #B0B0B2;
	border-bottom: 1px solid #B0B0B2;
	border-color: #000000;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

.content_links {
	color: #000000;
	background: #f7f7f7;
	font-size: 14px;
	font-family: serif;
	font-weight: normal;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border: 1px solid #ccc;
}

.content_gap {
	font-family: serif;
	font-size: 8px;
	line-height: 8px;
}

.csuc_menuTop {
	color: #fff;
	font-family: utopia, arial, helvetica, sans-serif, serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	text-align: center;
	background: #444;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.csuc_menuTopLeft {

	color: #000000;
	font-family: utopia, arial, helvetica, sans-serif, serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	background: #f7d654;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

.csuc_menuTopRight {

	color: #000000;
	font-family: utopia, arial, helvetica, sans-serif, serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	background: #f7d654;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.csuc_menuBody {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        padding: 7px;
}

.csuc_menuBodyLeft {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-left: 1px solid #000000;
        padding: 7px;
}

.csuc_menuBodyRight {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-right: 1px solid #000000;
        padding: 7px;
}

.csuc_menuBodyBot {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-bottom: 2px solid #000000;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        padding: 7px;
}

.csuc_menuBodyBotLeft {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-bottom: 2px solid #000000;
        border-left: 1px solid #000000;
        padding: 7px;
}

.csuc_menuBodyBotRight {
        font-size: 12px;
	font-family: utopia, arial, helvetica, sans-serif, serif;
        border-bottom: 2px solid #000000;
        border-right: 1px solid #000000;
        padding: 7px;
}

A:link {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

A:visited {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

A:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: normal;
}

A:active {
	color: #000000;
	font-weight: normal;
	text-decoration: normal;
}

A.graphic_link:link {
	text-decoration: none;
	font-weight: normal;
}

A.graphic_link:visited {
	text-decoration: none;
	font-weight: normal;
}

A.graphic_link:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: normal;
	background: transparent;
	border: 0px solid #B0B0B2;
	padding: 0em;
}

A.graphic_link:active {
	color: #000000;
	font-weight: normal;
	text-decoration: normal;
	background: transparent;
	border: 0px solid #B0B0B2;
	padding: 0em;
}


A.content:link {
	color: #33499f;
	text-decoration: none;
	font-weight: normal;
}

A.content:visited {
	color: #777;
	font-weight: normal;
	text-decoration: none;
}

A.content:hover {
	color: #0066ff;
	font-weight: normal;
	text-decoration: none;
	border: 0;
	padding: 0em;
}

A.content:active {
	color: #f7d654;
	font-weight: normal;
	text-decoration: none;
	border: 0;
	padding: 0em;
}

A.content_whitebg:link {
	color: #333399;
	text-decoration: underline;
	font-weight: normal;
	border: 0;
	padding: 0em;

}

A.content_whitebg:visited {
	color: #777777;
	font-weight: normal;
	text-decoration: underline;
	border: 0;
	padding: 0em;
}

A.content_whitebg:active {
	color: #f7d654;
	text-decoration: underline;
	font-weight: normal;
	border: 0;
	padding: 0em;
}

A.content_whitebg:hover {
	font-weight: normal;
	text-decoration: underline;
	border: 0;
	padding: 0em;
}

A.content_dis:link {
	color: #333399;
	text-decoration: underline;
	font-weight: normal;
	border: 0;
	padding: 0em;

}

A.content_dis:visited {
	color: #777777;
	font-weight: normal;
	text-decoration: underline;
	border: 0;
	padding: 0em;
}

A.content_dis:active {
	color: #f7d654;
	background: #CCCCCC;
	text-decoration: underline;
	font-weight: normal;
	border: 0;
	padding: 0em;
}

A.content_dis:hover {
	background: #CCCCCC;
	font-weight: normal;
	text-decoration: underline;
	border: 0;
	padding: 0em;
}

A.top:link {
	color: #660000;
	font-weight: normal;
}

A.top:visited {
	color: #660000;
	font-weight: normal;
}

A.top:hover {
	color: #660000;
	background: #EEEEEE;
	font-weight: normal;
	border: 0;
	padding: 0em;
}

A.top:active {
	color: #660000;
	font-weight: normal;
	border: 0;
	padding: 0em;
}
