body {
	font-family: sans-serif;
	text-align: justify;
	background: url(green_gradient.png);
	max-width: 50em;
}
h1, h2 {
	background: #fff;
	color: #000;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0;
}
h1 {
	font-family: serif;
}
h2, h4 {
	font-style: italic;
}
h4 a, h4 a:visited {
	text-decoration: none;
	color: black;
}
div#body {
	background: #c9f0bb;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
blockquote, div.code {
	background: #d8f0d6;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-right: 4em;
	margin-left: 4em;
	padding: 0.5em;
	font-size: small;
	clear: both;
}
div.code { font-family: monospace; }
div#body p, h3, h4, img.inline {
	padding-right: 10px;
	padding-left: 10px;
}
div#links {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 6px;
	background: black;
	color: white;
}
a, a:visited { color: #627a5f; }
a:active { color: #fff; }
div#links a, div#links a:visited { color: #fff; }
img.inline {
	padding-bottom: 10px;
	float: right;
	clear: both;
	max-width: 50%;
}
p.copyright {
	font-style: italic;
	font-size: small;
}
