/*******************
STYLING STANDARD TAGS 
******************/ 
html, body { 
	margin: 0;
	padding: 0;

	font: 90%/150% sans-serif;
}

h1 {
	margin: 5px;
	padding: 5px;

	text-align: right;

	font: 250% serif;
	font-weight: 600;
}

h2 {
	margin: .5em 2em;
	padding: 0;

	text-align: left;

	font: 250% serif;
	font-weight: 600;
}

h3 {
	margin: 1.5em -1.8em .8em -1.8em;
	padding: 0em 1em 0em 2em;

	font: 150%/180% serif;
}

h4 {
	margin: 0;
	padding: 1em 1em 0em 2em;

	font: 125%;
	font-weight: 600;
	text-decoration: none;
}

a:link, a:visited {
	display: inline;
	
	padding: 0px 2px;
	text-decoration: none;
}

a.static {
	text-decoration: none;
	border: none;
	margin: 3px;

	font-weight: 700;
}
	
p {	
	margin: .2em;
	margin-top: 1.5em;

	text-indent: 0;
}

h4+p {
	margin-top: 0.2em;
}
	
p+p {
	margin: .2em;	

	text-align: left;
	text-indent: 2em;
}

em {
	font-style: italic;
	font-weight: normal;
}

strong {
	font-style: normal;
	font-weight: bold;
}

img {
	padding: 0;
	border: none;
	margin: 5px;
}

code { 
	margin: 3px;
	font-family: monospace;
}

table {
	margin: 10px;
	padding: 0;
}

dl	{
	width: 100%;
	margin: 0 auto;
}	
dt	{
	float: left;
	width: 25%;
	margin: 0.6em 0;

	text-align: right;
	text-decoration: underline;
}

dt:after {
	content: " -- ";
}

dd	{
	float: left;
	width: 70%;
	margin: 0.6em 0;
	padding-left: 1.5em;
}

dl+p {
	clear: both;
}

/*******************
CLASSES
******************/ 
.sansSerif 	{ font-family: sans-serif; }

.monospace 	{ font-family: monospace; }

.serif 		{ font-family: serif; }
	
.cursive 	{ font-family: cursive; }

.right		{ float: right; }

.left		{ float: left; }

.clear {
	clear: both; 
	line-height: 0; 
	height: 0;
}

.image {
	margin: 10px;
	padding: 0;
}

.image dt, .image img {
	margin: 0;
	padding: 0;
}

.image dd {
	font-family: monospace;
	text-align: center;
}

.timeStamp {
	float: right;	
	margin: -3em 1em 0em 1em;
	padding: 0;
}
	

.bigCode {
	white-space: pre;
	display: block;
	margin: 10px auto;
	padding: 5px; 

	width: 90%;

	overflow: auto;
}
	
.copy {
	float: none;
	margin: 1em auto;
	margin-top: 4em;

	text-align: center;
	font-size: 80%;

}

.copy a, .copy a:visited {
	border: none;
}


/*******************
HEADER
******************/ 
#header {
	float: right;

	margin: 1em;
	padding: 1em;
}

/*******************
CONTENT AREA
******************/
#content {
	position: relative;
	float: left;  

	margin: 1em 1em 2em 1em; 
	padding: 1.4em; 

	width: 65%;
}

html > body #content {
	width: 70%;
	margin: 1em 1% 2em 4%; 
}

/*******************
NAVIGATION BAR
******************/

#navbar {
	position: relative;
	float: none;
	margin: 1em auto;
	padding: .5em 2em;

	width: 80%;
}

#navbar ul {
	margin: 0px;
	padding: 1px;
}

#navbar ul li {
	margin: 1px 5px;
	padding: 1px 2px;

	list-style: none;
	display: inline;
}

#navbar ul li a, #navbar ul li a:visited {

	font-family: sans-serif;
	font-weight: 400;
	text-decoration: none;
}

/*******************
SIDEBAR
******************/
#sidebar {
	position: relative;
	float: right;
	margin: 1em 0.5em 2em 0.5em;
	padding: 0.5em;

	width: 10%;
}

html > body #sidebar { 
	margin: 1em 2% 2em 1%;
	padding: 1em;
	width: 12%;
}

#sidebar h3{
	margin: 1em -1.5em 1.5em -1.5em;
	padding: 0.3em 1em;
	
	width: 10em;

	text-align: right;

	font: 120%/180% Serif;
	font-weight: 600;
}

html > body #sidebar h3 { 
	width: auto;
}

#sidebar ul{
	margin: 1em;
	padding: 0;
}

#sidebar ul li{
	margin: 0;
	padding: 0;

	list-style: none;
}
	
a.sidebar:link, a.sidebar:visited, a.sidebar:active {
	display: block;
	padding: 5px;
	margin: 0;

	width: 8em;

	font-family: sans-serif;
	font-weight: 400;
	border: none;
	background: inherit;
	
}
	
a.sidebar:hover {
	padding: 4px;
	margin: 0;

	width: 8em;
}

html > body a.sidebar:link, html > body a.sidebar:visited, html > body a.sidebar:active, html > body a.sidebar:hover {
	width: 100%;
	margin: 0;
}

html > body a.sidebar:hover {
	margin-left: 2em;
}

/********************
ARCHIVE STYLES
*******************/
a.backArchive {
	margin: 1em 2em;	
	margin-top: 3em;
	padding: 2px;
}

/********************
LINK STYLES
*******************/
h4+ul {
	margin: 0.5em 10em;	
}


/*
     FILE ARCHIVED ON 11:27:55 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:32 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 42.277 (3)
  esindex: 0.008
  captures_list: 67.328
  CDXLines.iter: 16.908 (3)
  PetaboxLoader3.datanode: 54.037 (4)
  exclusion.robots: 0.136
  exclusion.robots.policy: 0.125
  RedisCDXSource: 4.616
  PetaboxLoader3.resolve: 18.736
  load_resource: 50.931
*/