html, body {
	font: 14px serif;
	
	padding: 10px;
}

* {
	background-color: #fff;

	color: #000;
}

a:link, a:visited {
	text-decoration: underline;

	color: #906;
}

a:after {
	font: 12px monospace;
	content: " (" attr(href) ")";
}

h1 {
	font: 19px monospace;
	text-align: center;
	content: " :: www.golden-ratio.net :: ";
}

h2 {
	text-align: center;
}

h3 {
	margin: 1px;
	padding: 2px;
	border-bottom: 1px solid #aaa;
}

h4 {
	margin: 1px;
	padding: 2px;
}

h4+p {
	margin-top: 1px;
}

.timeStamp {
	float: none;

	font: 12px serif;

	margin: 0;
	padding: 3px;

	text-indent: 2em;
}
	


#content {
	position: absolute;
	top: 50px;
}


#sidebar, #navbar {
	visibility: hidden;
}
	
	

/*
     FILE ARCHIVED ON 11:29:55 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:32 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 79.467 (3)
  esindex: 0.01
  captures_list: 100.591
  CDXLines.iter: 11.419 (3)
  PetaboxLoader3.datanode: 71.185 (4)
  exclusion.robots: 0.193
  exclusion.robots.policy: 0.177
  RedisCDXSource: 6.389
  PetaboxLoader3.resolve: 69.354 (2)
  load_resource: 85.967
*/