/*******************
STYLING STANDARD TAGS 
******************/ 
html, body { 
	background-color: #300;

	color: #f84;
}

h1 {
	color: #f61;
}

h2 {
	color: #f61;
}

h3 {
	background-color: #f61;

	color: #000;

	border: 1px solid #000;
}

h4 {
	border-bottom: 3px double #a40;
}

a:link, a:visited {
	color: #fa6;
	border-bottom: 1px dashed #fa6;
}

a:hover {
	border-bottom: 1px solid #fa6;
}

code { 
	color: #486;
}

/*******************
CLASSES
******************/ 

.image dd {
	color: #a62;
}

.timeStamp {
	color: #000;
}
	
.bigCode {
	background-color: #400;

	color: #486;

	border-top: 1px solid #410;
	border-left: 1px solid #410;
	border-bottom: 1px solid #630;
	border-right: 1px solid #630;
}

/*******************
CONTENT AREA
******************/
#content {
	background-color: #500;

	border: 1px solid #f61;
}

/*******************
NAVIGATION BAR
******************/
#navbar {
	background-color: #500;

	border: 1px solid #f61;
}

/*******************
LINK BAR
******************/
#sidebar {
	background-color: #500;

	border: 1px solid #f61;
}
	
a.sidebar:hover {
	background-color: #700;
	border: 1px solid #f61;
}


/*
     FILE ARCHIVED ON 11:29:28 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:32 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 162.015 (3)
  esindex: 0.006
  captures_list: 179.664
  CDXLines.iter: 10.768 (3)
  PetaboxLoader3.datanode: 62.529 (4)
  exclusion.robots: 0.173
  exclusion.robots.policy: 0.162
  RedisCDXSource: 3.837
  PetaboxLoader3.resolve: 185.209 (3)
  load_resource: 95.192
*/