a, a:visited  { color: #000080; text-decoration: underline; }
a:hover { color: #0000ff; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: #000000; }
.header_anchor { color: #000000; text-decoration: none; }

body {	
	margin:5px;
	padding:6px;
	font-family: Arial;
	font-size: 11pt;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
}

td, th {
	font-family: Arial;
	font-size: 11pt;
	color: #000000;
	padding:2px;
}
td {	
	margin:0;
	text-align: left;
}
th {
	padding:2px;
	text-align: center;
	text-weight: bold;
}
table { 
	border: none;
	padding:3px; 
}
.tabl { 
	padding:2; 
	border: 1px solid #000000;
	vertical-align: top;
}
p {
	font-family: "Arial";
	font-size: 11pt;	
}

ul { list-style-type: square; }

.secMenu {
	border: none;
}
.menuTable {
	border: solid #808080 1px;
	border-top: 6px solid #8080ff;
	margin:3px;
}
table#prodBlock {
	border-collapse: separate;
	border-spacing: 8px;
}
table#prodBlock td {
	border: solid #008000 1px;
	background-color: #e0e0ff;
	color: #000080;
	padding: 8px;
}

table.leftMenu {
	border-collapse: collapse;
	border: none;
	width: 256px; 
	table-layout: fixed;
}
td.leftHead {
    padding: 3px;
    background-color: #e0e0ff;
    color: #000080;
    font-weight: bold;
	vertical-align: middle;
	border: none;
}
td.leftText {
    padding: 3px 3px 10px 3px;
}
img {
	border: none;
	margin: 0;
}

div.faqq {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}

div.faqa {
	
}

body { font-family: Arial; font-size: 14px;}
.newshead {color:#000080; font-weight:bold; font-family: Arial;}
.catalog {vertical-align: top; font-size: 14px; padding:3; font-family: Arial; }
.pHead { font-size: 16px; }
.pHeadLink { color:#000000; text-decoration: none; font-size: 18px; font-family: Arial; font-weight: bold; }
.pTable { border: none; border-bottom: solid #808080 1px; width:100%; margin:3px; }
