canvas {
  margin-bottom: 1em;
}

h2 {
  border-bottom: 1px solid #666;
}

h3 {
  color: #666;
  font-size: 1.2em;
}

.title, body, button, h1, h2, h3, h4, h5, h6, input, select, textarea {
  font-family: Charter, Georgia, serif;
}

.list-item-title > a {
  text-decoration: underline;
}

.list-item-title > a:hover {
  text-decoration: none;
}

code, kbd, samp {
  /* color: #ffcd00; */
  font-size: .8em;
}

td > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
li > code,
a > code,
p > code,
blockquote strong,
li strong {
  color: #c31900;
}

pre, pre code {
  border-radius: .3em;
}

pre {
  padding: .5em;
}

.ll-fatal, .awful {
  color: red;
}

.ll-error, .bad {
  color: orange;
}

.ll-warn, .ok {
  color: gold;
}

.ll-info, .good {
  color: green;
}

.ll-debug {
  color: blue;
}

.good, .ok, .bad, .awful {
  font-weight: bold;
}

.night {
  background: #263238;
}

.night .title, .night h1, .night h2, .night h3, .night h4, .night h5, .night h6,
.night a, .night a:visited {
  color: #DDD;
}

.night h3 {
  color: #999;
}

body.night, .night button, .night input, .night select, .night textarea,
.night .main-menu a:hover, .night .social-menu a:hover,
.night a:active, .night a:focus, .night a:hover{
  color: #ccc;
}

.night blockquote strong,
.night td > code,
.night h1 > code,
.night h2 > code,
.night h3 > code,
.night h4 > code,
.night h5 > code,
.night h6 > code,
.night li > code,
.night a > code,
.night p > code,
.night li strong {
  color: #c59e00;
}

input#search {
  width: 100%;
}

#key-achievements ~ ul > li {
  border-bottom: 1px solid #ffcd00;
  list-style: circle;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/* reset list stylings after 'resume' key achievements */
#key-achievements ~ h2 ~ ul > li {
  border: none;
  list-style: disc;
  margin: 0;
  padding: 0;
}

.image-caption {
  margin-top: -1em;
}
