.crm-form-wrap {float:left; width:540px; padding:15px; overflow:hidden;}
.hide {display:none;}	

.req-astrisk, .crm-form-wrap .error {color:#FF0000; font-family:Arial; font-size:12px; padding-bottom:5px;}
.crm-form-wrap .error {float:left;clear:both; font-weight:bold; width:100%;}
.error .req-astrisk {display:none;}
#crmform .req-input {border-color:#FF0000; background:#FFEEEE; margin-bottom:2px;}	
.crm-form-wrap h2, .crm-form-wrap h3 {color:#3E7388;font-size:15px; margin-bottom:0; font-family:Arial;}
.crm-form-wrap h4 {font-family:Arial;}
.crm-form-wrap h2 {font-size:18px;}
#crmform {float:left; width:540px;}
#crmform .top, #crmform .bottom {float:left; padding:10px 28px; width:482px; border:1px solid #DBDFD7;}
#crmform .top {border-width: 1px 1px 0;}
#crmform .bottom {background:url(/img/sf-bg-grad.gif) 0 0 repeat-x; }
#crmform label, #crmform input, #crmform textarea, #crmform select {float:left; clear:both;}
#crmform input, #crmform textarea, #crmform select {border:1px solid #7F9DB9; margin-bottom:8px;}
#crmform input {padding:1px 0; width:auto;}
#crmform ul li {padding-bottom:7px; font-family:Arial;}
#crmform ul li input, #crmform ul li label {float:none; clear:none;}
#crmform label {font-size:12px; color:#3E7388; font-weight:bold; padding-bottom:2px;}
#crmform label .normal {font-weight:normal;}
#crmform span .normal {font-weight:normal;}
#crmform ul li label {font-weight:normal; color:#000;}

#crmform .len1 {width:135px;}
#crmform .len2 {width:208px;}
#crmform .len3 {width:302px;}
#crmform .len4 {width:148px; *width:121px;}
#crmform .len5 {width:100px;}
#crmform .len6 {width:460px; *width:400px;}
#crmform .len7 {width:110px;}
#crmform .len8 {}
#crmform .height1 {height:85px;}

.group {border:1px solid #DBDFD7; border-width: 0 0 1px; margin-bottom:6px; float:left; width:482px; }
.group fieldset {float:left; clear:both; margin-bottom:5px; width:100%;}
.multi {width:100%;}
.multi fieldset {float:left; clear:none; margin-right:10px; width:auto;}
.multi2 fieldset {width:157px;}
.multi3 fieldset {width:30%;}
.last {border:0;}

#crmform .indent {margin-left: 40px;}
#crmform .indent label {margin-right:10px;}
#crmform .interest {margin: 0 5px 0 0; border:0;}
#crmform button { display:block; width:85px; overflow:hidden;}
#crmform .submit button, #crmform .submit .jqmClose {float:left;}
#crmform .submit button {margin-right:50px;}
#crmform .submit .jqmClose {margin-top:9px;}
#crmform .crm-left { float:left; width: 225px; padding-bottom: 2px;}
/*#crmform .crm-wrap input { float: left; width: 5%; *width: 8%; *margin-left:5px;}
#crmform .crm-wrap label { float: left; width: 90%; *width:88%;}
*/
#crmform .crm-left input, #crmform .crm-right input { float:left; width:15px; /**margin-left:-2px;*/ *clear:none;}
#crmform .crm-left label, #crmform .crm-right label {float:left; width:203px; *width:85%; *clear:none;}
#crmform .crm-right { float:left; padding-bottom: 2px;}
#crmform .crm-center {float:left; clear:both; *width:100%;}
#crmform .crm-left li, #crmform .crm-right li {float:left; clear:both; *width:100%;}

#errorCount p {color:#FF0000; font-family:Arial; font-weight:bold;}
.disabled {background:#e0e0e0;}

#crmform .bottom_price,#crmform .top_price {float:left; padding:10px 28px; width:482px; border:1px solid #DBDFD7;}
#crmform .bottom_price { border-top:0px;}
#crmform .top_price {border-width: 1px 1px 0;background:url(/img/sf-bg-grad.gif) 0 0 repeat-x; }

#crmform ul li .labelname{color:#3E7388; font-weight:bold; font-size:12px;}
