/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmPopup {
    display: none;
    z-index: 999;
    position: absolute;
    top: 15px;
    left: 0px;
    
    margin-left: 0px;
    width: 600px;
    
    background: #FAF5EB none repeat scroll 0;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}



/* SEND PROFILE/RESUME POPUP */
/*#myAccountTabs #view .profile-popup { left: 450px; top:-300px; }*/
#send-profile-popup form input { width:400px;}
#send-profile-popup form .checkbox { width:auto;}
#send-profile-popup form table td textarea { width:400px;border:1px solid #BEBFBE;color:#373839;font-family:arial;font-size:12px;}
#send-profile-popup form table {}
#send-profile-popup form table td {}
#send-profile-popup form table .first { vertical-align:middle; text-align:right;}

/* REVALIDATE POPUP */
#revalidate-popup { width:350px; height:165px; margin-left:-200px;}
#revalidate-form {}
#revalidate-form h2 { margin-top:0; padding-top:0;}
#revalidate-form #required { color:red; font-size:9px; padding:3px 0; }
#revalidate-form .revalidate-form-text {clear:both; }
#revalidate-confirmed .revalidate-form-text {clear:both; }
#revalidate-confirmed .buttons { margin: 10px 0 0 0; text-align:center;  }
#revalidate-form .revalidate {}
#revalidate-form .revalidate form button { border:none; }
#revalidate-form .revalidate form fieldset { clear:both; border:none; padding-bottom:0;} 
#revalidate-form .revalidate form fieldset label {  position:absolute; padding-top:6px; }
#revalidate-form .revalidate form fieldset input { width:200px; margin-left:70px; }
#revalidate-form .revalidate form .buttons { margin: 10px 0 0 0; text-align:center; }

/* CONFIRM EMAIL POPUP */
#unconfirmed { color:red; }
#confirm-popup .confirm-form {font-family:Georgia; font-size:13px;float:none; text-align:center;}
#confirm-popup .confirm-form .confirm-label{ float:none; text-align:left; font-weight:bold; font-family:arial; font-size:18px; margin-bottom:10px;}
#confirm-popup .confirm-form .confirm-text{ float:none;  line-height:20px; text-align:left;}
#confirm-popup .confirm-form .confirm-text ol { float:none; margin-left:150px;}
#confirm-popup .confirm-form .confirm-text ol li { float:none;}
#confirm-popup .confirm-form .confirm-response {float:none; color:green; line-height:20px; margin:10px; }
#confirm-popup .confirm-form .confirm-btn {float:none; margin:10px 160px;}
#confirm-popup .confirm-form .confirm-btn .confirm-submit{display:block; height:25px; width:250px; padding: 2px 0; text-align:center; background:#4F4F4F; margin:3px 0; border:1px solid #fff; border-style:outset; color:#FFF;}
#confirm-popup .confirm-form .confirm-hint {font-size:10px;float:none; }
#confirm-popup .unconfirmed,  #myAccountTabs .form-upper .newsletter-unconfirmed {color: red;}
#confirm-popup .form-upper .newsletter-unconfirmed a {}
