/* untitled.css
   Stylesheet declarations for my homepage.
   Last rebuild: November 25 2005 03:45 PM from DML "1.92"
 */


/* HTML tag styles */

body {
	font-family: 		georgia, garamond;
	background-color:	#ffffff;
	color:				303030;
}

h1 {
	margin:				0px;
	color:				#707070;
}

h2 {
	margin:				0px;
	color:				#858585;
}

h3 {
	margin:				0px;
	color:				#a0a0a0;
}

img {
	border:				0;
}

td {
	vertical-align:		top;

}

ul {
	list-style-type:	square;
}

a {
	color:				#606090;
	text-decoration:	underline;
}

a.linksubdued {
	color:				#606060;
}

a:hover {
	color:				#c0c0c0;
	text-decoration:	overline underline;
}

p, ul, ol, dl {
	font-family:   		verdana, arial;
	font-size:   		small;
}

/* Custom styles */

/* ---- Design elements ---- */

/* Contains page; used to limit its width in
   standards-compliant browsers. */

#container {
	max-width:			800px;
	margin:				0 auto;
	text-align:			left;
	border:				none;
}

.containercontainer {
	text-align:			center;
}

/* Used frequently to add padding inside box elements */
.padded {
	padding:			6px;

}

/* Add lots of spacing around the body content */
.body_padded {
	margin:				15px;
}

/* Contains the list of other areas on the site */
.submenu {
	width:				100%;
	text-align:			left;
	border-bottom:		1px solid #a0a0a0;
	margin:				0px;
}

/* Menu bar down right side of page */
.menu {
	text-align:			left;
	border-left:		1px dashed #c0c0c0;
	border-right:		1px solid #c0c0c0;
}

/* Footer */
.footer {
	font-size:			x-small;
	font-family:		verdana;
	color:				#909090;
	clear:				both;
	border-top:				1px solid #c0c0c0;
	width:				100%;
}

/* ---- Text elements ---- */


/* vi stuff */
.vi_table {
	border:				1px dotted black;
}

.vi_key {
	font-family:		courier;
	vertical-align:		top;
}

.vi_explanation {
	vertical-align:		top;	
}

/* Section title */
.menutop {
	width: 				100%;
	font-weight:		bold;
	color:				#606090;
	font-size:			x-large;
	margin-top:			10px;
}

/* Subsection titles */
.menuheader {
	width: 				100%;
	text-align:			left;
	font-weight:		bold;
	color:				#606090;
	background-color:	#e0e0e0;
	border-bottom:		1px dashed black;
	letter-spacing:		0.2em;
}

/* Lighter gray links or text */
.subdued {
	color:				#909090;
}

/* "In this area..." */
.submenu_declaration {
	color:				#a0a0a0;
	border-left:		1px dashed #c0c0c0;
	border-bottom:		1px solid #a0a0a0;
	border-right:		1px solid #c0c0c0;
	font-style:			italic;
	vertical-align:		bottom;
	width:				25%;
	background-image:	url(/web/20060315052822im_/http://jmcpherson.org/images/flower.jpg);
}

/* Adjusted widths for columns */
.body_leftmargin {
	width:				5%;
}

.body_maincontent {
	width:				70%;
}

/* Surrounding [ ] on section title */
.lightorange {
	color:				#a0a0c0;
}

/* Gray bar on top of page */
.pagetop {
	background-color:	#c0c0c0;
	width:				100%;
	color:				#ffffff;
}

/* Blocks of computer code */
.codeblock {
	padding:			5px;
	border:				1px dotted #a0a0a0;
	background-color:	#f0f0f0;
	font-family:		courier;
}

/* Table cells for FAQ */

.faq_field {
	vertical-align:		top;
	text-align:			right;
	font-weight:		bold;
	border-right:		1px dotted #c0c0c0;
}

.faq_value {
	vertical-align:		top;
	text-align:			left;
}

/* For the CV, pretty much */
.sep {
	border-top:			1px solid gray;
}

.print_icon {
	float:     			left;
}

/* Album stuff */
.arr {
	font-size: x-small;
	font-style: italic;
}


/*
     FILE ARCHIVED ON 05:28:22 Mar 15, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:06:38 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 93.474 (3)
  esindex: 0.011
  captures_list: 137.744
  CDXLines.iter: 13.368 (3)
  PetaboxLoader3.datanode: 115.891 (4)
  exclusion.robots: 0.382
  exclusion.robots.policy: 0.334
  RedisCDXSource: 10.912
  PetaboxLoader3.resolve: 23.593
  load_resource: 75.443
*/