body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}a{text-decoration:none}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0}body{font-family:"open sans",arial,sans-serif;line-height:1.54}h1{font-size:20px;font-weight:300;margin:20px 0;color:#f60}h2{font-size:24px;font-weight:700;margin:2em 0 1em 0}h3{font-size:14px;font-weight:700;margin:1.2em 0 .6em 0}p{margin-bottom:2em}ul{padding:0}.maia-footer h5{font-size:13px;font-weight:700;margin:1.236em 0 .618em;text-transform:uppercase}.footer-links{list-style-type:none;padding:0}.footer-links a:link,.footer-links a:visited{color:#999;text-decoration:none}#footer a:hover{color:#ff9434}#copyright{float:right}.sign-in{float:right;margin-top:8px}.banner-wrapper{border-bottom:1px solid #dbdbdb;margin:50px 0 0 0;text-align:center}.banner-wrapper h1{color:#333;letter-spacing:-1px;margin:0;font-size:45px;font-weight:100}.tagline{font-size:18px;font-weight:100;margin:1em 0}.feat-row-split{padding:45px 0}.feat-row-split h3{font-size:30px;font-weight:100}.jump-top{border-bottom:1px solid #ebebeb;clear:left;font-size:13px;position:relative}.jump-top a{background-color:#fff;bottom:-10px;position:absolute;right:0;text-align:center;width:100px}.store-buttons{margin-top:4em;text-align:center}.store-buttons a{vertical-align:top}.section-divider{border-top:1px solid #ebebeb;margin:16px 0 32px 0}.errormessage{color:#dd4b39;padding:9px 0}textarea.formerror{border:1px solid #dd4b39}@media screen,projection{#maia-header h1 img{margin-bottom:4px}tr{background-color:transparent}#gbqlw{border:none}}.maia-button{background:#fb8f3d;background-image:-moz-linear-gradient(top,#fda352,#fb8f3d);background-image:-ms-linear-gradient(top,#fda352,#fb8f3d);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDA352',EndColorStr='#FB8F3D')";background-image:-o-linear-gradient(top,#fda352,#fb8f3d);background:-webkit-gradient(linear,left top,left bottom,from(#fda352),to(#fb8f3d));border-color:#fb8f3d;color:#fff}.maia-button:hover{background-image:-moz-linear-gradient(top,#fd934d,#f9760b);background-image:-ms-linear-gradient(top,#fd934d,#f9760b);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FD934D',EndColorStr='#F9760B')";background-image:-o-linear-gradient(top,#fd934d,#f9760b);background:-webkit-gradient(linear,left top,left bottom,from(#fd934d),to(#f9760b));border-color:#f9760b;color:#fff}.maia-button[disabled],.maia-button.maia-button-disabled{background:#fbfbfb;border-color:#f3f3f3;color:#b8b8b8;cursor:default;pointer-events:none}.modaldialog.visible{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}.modaldialog{-webkit-box-shadow:0 4px 16px rgba(0,0,0,.2);-moz-box-shadow:0 4px 16px rgba(0,0,0,.2);-ms-box-shadow:0 4px 16px rgba(0,0,0,.2);box-shadow:0 4px 16px rgba(0,0,0,.2);background:#fff;left:50%;border:1px solid #ccc;padding:30px 42px;position:fixed;right:auto;width:512px;height:auto;overflow:hidden;z-index:100;top:72px;margin-left:-256px;opacity:0;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);-webkit-transition:all .218s;-moz-transition:all .218s;transition:all .218s}.modaldialog.medium{padding:28px 32px;width:384px}.modaldialog.small{padding:16px 20px;width:256px}.modaldialog h1{margin-bottom:1em}.modaldialog .step{color:#f60}
/*
     FILE ARCHIVED ON 02:43:48 May 22, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:09:32 Aug 24, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.017
  LoadShardBlock: 416.226 (6)
  CDXLines.iter: 87.387 (3)
  PetaboxLoader3.datanode: 461.215 (8)
  RedisCDXSource: 3.0
  PetaboxLoader3.resolve: 249.992 (2)
  load_resource: 1294.639
  exclusion.robots.policy: 0.233
  exclusion.robots: 0.253
*/