.language-swift .k, .language-swift .kr, .language-swift .kt, .language-swift .nb {
  color: rgb(0,0,255);
}

.language-swift .s {
  color: rgb(163,21,21);
}

.language-swift .bp, .language-swift .n {
  color: rgb(43, 131, 159);
}

.language-swift .c1 {
  color: rgb(0, 128, 0);
}