/* "#DB542D" "#BA3B16" */
/*
    Center: 500
	The Grid:
	- Unit 230
    - Spacing 40
   Header:
	Full: >= 1040
		230 |40| 230 | 40 | 230 | 40 | 230 = 920 + 120 = 1040
    Medium: 768 >= 1040
		14 | 170 | 20 | 170 | 20 | 170 | 20 | 170 | 14 = 680 + 78 = 768
	Smaller:
		10 | 75 | 75 | 75 | 75 | 10
	Smallest:
*/

@media only screen and (min-width: 1080px) {
	nav {
		width: 1040px;
	}
	nav a span {
		width: 270px;
	}
	nav a span.last {
		width: 230px;
	}
	div.writing-index {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.home-content {
		width: 1040px;
	}

	.home-content .column {
		width: 1040px;
	}
	.home-content .bio-container {
		width: 520px;
		float: left;
	}
	.home-content .headshot {
		float: left;
		width: 200px;
		height: 200px;
		margin-right: 20px;
	}

	.home-content .biography {
		float: left;
		width: 270px;
	}
	
	.home-content .biography p {
		margin-bottom: 0em;
		text-indent: 1.5em;
	}
	
	.home-content .around-the-web {
		float: left;
		clear: left;
		width: 500px;
	}
	.home-content .writing {
		float: right;
		width: 500px;
	}

	.page-footer-column:nth-of-type(1) {
		width: 270px;
	}
	.page-footer-column:nth-of-type(2) {
		width: 500px;
		padding-right: 40px;
	}
	.page-footer-column:nth-of-type(3) {
		width: 230px;
	}
	.page-footer .footer-content {
		width: 1040px;
	}
	ul.social {
		width: 230px;
		float: left;
	}
	ul.social:nth-of-type(1) {
		margin-right: 40px;
	}
	div.blog h1 {
		margin-left: 230px;
		width: 810px;
	}
	div.longform {
		width: 1040px;
	}
	div.longform div.content {
		width: 500px;
		margin-left: 270px;
	}

  figure.highlight {
  	border-left: 0.1em solid #888;
  	padding-left: 12px;
  }
  div.wide figure.highlight {
    margin-left: -120px;
    width: 770px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
	nav {
		width: 740px;
	}
	nav a.site-title span.collapseable {
		display: none !important;
	}
	nav a span.section {
		width: 190px;
	}
	nav a span.last.section {
		width: 170px !important;
	}

	.home-content {
		width: 740px;
	}
	.home-content .column {
		width: 740px;
	}

	.home-content .biography {
		width: 340px;
		float: left;
		clear: right;
	}

	.home-content .headshot {
		float: left;
		width: 170px;
		height: 170px;
		margin-right: 20px;
	}	
	.home-content .around-the-web {
		float: right;
		clear: right;
		width: 170px;
		padding: 0px !important;
		border-top-width: 0px !important;
	}
	.home-content .around-the-web h2 {
		display: none;
	}
	.home-content .writing {
		float: left;
		width: 540px;
		border-top: 1px solid #aaa;
		padding-top: 1em;
	}

	div.writing-index {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 204px;
		padding-right: 64px;
	}

	.page-footer .footer-content {
		width: 740px;
	}

	.page-footer-column h2 {
		font-size: 1.2em !important;
	}
	.page-footer-column:nth-of-type(1) {
		width: 190px;
	}
	.page-footer-column:nth-of-type(2) {
		width: 500px;
	}
	.page-footer-column:nth-of-type(3) {
		width: 50px;
	}
	ul.social {
		width: 170px;
	}
	div.blog h1 {
		margin-left: 190px;
		font-size: 3.375em !important;
	}

	div.longform {
		width: 740px;
	}
	div.longform div.content {
		width: 500px;
		margin-left: 190px;
	}
  div.wide figure.highlight {
    margin-left: -120px !important;
    width: 650px;
  }
  figure.highlight {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
	nav {
		width: 520px;
		font-size: 0.8em;
	}
	nav a.site-title span.section {
		width: 160px !important;
	}
	nav a.site-title span.collapseable {
		display: none !important;
	}
	nav a span.section {
		width: 120px;
	}

	.home-content {
		width: 520px;
	}
	.home-content .column {
		width: 520px;
	}

	.home-content .biography {
		width: 360px;
		float: right;
		clear: right;
	}

	.home-content .headshot {
		float: left;
		width: 130px;
		height: 130px;
	}	
	.home-content .around-the-web {
		float: left;
		clear: left;
		width: 130px;
		padding: 0px !important;
		border-top-width: 0px !important;
	}
	.home-content .around-the-web h2 {
		display: none;
	}
	.home-content .writing {
		float: right;
		width: 360px;
		border-top: 1px solid #aaa;
		padding-top: 1em;
	}

	div.writing-index {
		width: 520px;
		margin-left: auto;
		margin-right: auto;
	}

	.page-footer .footer-content {
		width: 520px;
	}

	.page-footer-column h2 {
		font-size: 1.2em !important;
	}
	.page-footer-column:nth-of-type(1) {
		width: 130px;
	}
	.page-footer-column:nth-of-type(2) {
		width: 360px;
	}
	.page-footer-column:nth-of-type(3) {
		width: 0px;
	}
	.page-footer-column .around-the-web h2 {
		display: none;
	}
	ul.social {
		width: 130px;
	}
	
	div.blog h1 {
		width: 520px;
		font-size: 3.375em !important;
		margin-left: auto;
		margin-right: auto;
	}

	div.longform {
		width: 520px;
	}
	div.longform div.content {
		width: 520px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 767px){
  figure.highlight {
    padding-left: 0.5em;
  }
  div.wide figure.highlight {
    border-right: 0.1em dashed #888;
  }
}

@media only screen and (max-width: 539px) {
	nav {
		margin-left: 14px !important;
		margin-right: 14px !important;
		font-size: 0.7em;
	}

	nav span.section {
		height: 30px !important;
		display: inline;
	}
	nav a {
		width: 25%;
		height: 30px !important;
		padding-top: 8px !important;
		padding-bottom: 8px !important;
	}
	nav a.site-title span.collapseable {
		display: none !important;
	}
	nav a.site-title span.semi-collapseable {
		display: none !important;
	}

	.home-content {
		width: 100%;
	}
	.home-content .column {
		margin-left: 14px;
		margin-right: 14px;
	}

	.home-content .bio-title {
		font-size: 1.5em !important;
	}

	.home-content .biography {
		width: 100%;
		display: inline;
	}

	.home-content .headshot {
		float: left;
		margin-right: 14px;
		width: 80px;
		height: 80px;
	}	
	.around-the-web {
		width: 100%;
		display: table;
	}
	ul.social {
		display: table-cell;
		width: 50%;
	}
	.around-the-web h2 {
		display: none;
	}
	.home-content .writing {
		width: 100%;
		border-top: 1px solid #aaa;
		padding-top: 1em;
	}

	.page-footer {

	}
	.page-footer .footer-content {
		display: table;
		padding-left: 14px;
		padding-right: 14px;
	}
	.page-footer .around-the-web {
		margin-bottom: 1.5em;
	}

	.page-footer-column h2 {
		font-size: 1.2em !important;
	}
	.page-footer-column:nth-of-type(1) {
		width: 100%;
		display: block;
	}
	.page-footer-column:nth-of-type(2) {
		display: block;
		width: 100%;
	}
	.page-footer-column:nth-of-type(3) {
		display: none;
		width: 0%;
	}
	.page-footer-column .around-the-web h2 {
		display: none;
	}

	div.blog p {
		line-height: 1.6em !important;
	}
	
	div.blog h1 {
		font-size: 1.8em !important;
		line-height: 1.1em !important;
    margin-left: 14px;
	}
	div.blog h2 {
		font-size: 1.6em !important;
	}
	div.blog h3 {
		font-size: 1.3em !important;
	}
	div.longform {
		width: 100%;
	}
	div.longform div.content {
		margin-left: 14px;
		margin-right: 14px;
	}
	div.blog ul, div.blog ol {
		list-style-position: inside !important;
	}
	figure.highlight {
		padding-left: 1em !important;
	}
}

@media only screen and (max-width: 400px) {
	nav span.section {
		text-align: center !important;
	}
	div.photo-cell {
		display: table-cell;
		width: 100px !important;
		height: 100px !important;
	}
	div.photo-cell .headshot {
		width: 86px !important;
		height: 86px !important;
	}
}

@media only screen and (max-width: 320px) {
	nav span.section {
		font-size: 0.8em !important;
	}
	.home-content h2.bio-title {
		font-size: 1.25em !important;
	}
}



/* Full Page */

p.hanging {
	text-indent: -0.3em;
}
h3.hanging {
	text-indent: -0.6em;
}

h1.quote, h2.quote, h3.quote {
	font-family: FFTisaWebItalic !important;
	text-indent: -0.45em;
}
blockquote.quote {
	font-family: FFTisaWebItalic;
	color: #444;
	margin-top: 0.7em !important;
	margin-bottom: 1.2em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent: -0.45em;
	word-spacing: 0.1em;
	line-height: 1.6em !important;
}

div.quote-attribution {
	margin-left: 2em;
	font-family: FFTisaWebItalic !important;
}

a {
	text-decoration: none;
}
.small-caps {
	font-family: FFTisaWebSmallCaps, Georgia;
	letter-spacing: 0.05em;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: FFTisaWeb, Georgia;
	line-height: 1.5em;
	color: #414141;
	-webkit-font-smoothing: antialiased !important;
}

body em {
	font-family: FFTisaWebItalic, Georgia;
	font-style: normal;
}

body strong {
	font-family: FFTisaWebBold, Georgia;
	font-style: normal;
	color: #444444;
}

a {
	color: #BA3B16;
}

code {
	font-family: Nitti;
}

nav {
	font-family: MuseoSans-300, HelveticaNeue, Helvetica, Arial;
    margin-left: auto;
    margin-right: auto;
	display: table;
}

nav span.section {
	display: table-cell;
	vertical-align: bottom;
	height: 48px;
	width: 270px;
}
nav a.site-title span {
	color: #BA3B16;
	font-family: MuseoSans-100, "HelveticaNeue-Light", Helvetica, Arial;
	font-size: 1.0em;
}

nav a.site-title span.collapseable {
	display: inline;
}
nav span.section {
	text-transform: uppercase;
}
nav a {
	color: #DB542D;
	padding-bottom: 14px;
	border-bottom: 1px solid #aaa;
	text-decoration: none;
	text-align: left;
	font-size: 1.3em;
	display: inline-block;
	vertical-align: middle;
}

/* Writing */

div.writing-index ul {
	list-style: none;
}

div.writing-index ul li a.title {
	font-feature-settings: "smcp";
	/* vendor-prefixes */
	-moz-font-feature-settings: 'smcp=1';
	-ms-font-feature-settings: "smcp";
	-webkit-font-feature-settings: "smcp";
	-o-font-feature-settings: "smcp";
}

.home-content {
	margin-left: auto;
	margin-right: auto;
}

.home-content .column {
	margin-top: 1.2em;
}

.home-content p {
	margin-top: 0em;
	margin-bottom: 0.8em;
}

ul.writing-preview {
	padding-left:0px;
	list-style: none;
	margin: 0px;
}
.longform ul.writing-preview {
	margin-top: 1.5em;
}
ul.writing-preview li {
	margin-bottom: 1.5em;
}

ul.writing-preview li .title {
/*	font-family: MuseoSlab-700;*/
/*	font-family: FFTisaWebSmallCaps;*/
	font-family: FFTisaWebMediumSmallCaps, Georgia;
	line-height: 1.4em;
	margin-bottom: 0.12em;
	display: block;
}

.home-content h2 {
	font-family: FFTisaWeb, Georgia;
	color: #333;
	font-size: 1.5em;
	line-height: 1.0em;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	padding: 0px;
}


.home-content h2.bio-title {
	color: #383838;
	font-family: FFTisaWebMedium, Georgia;
	font-size: 2.25em;
	line-height: 1.0em;
	margin-bottom: 0.2em;
	margin-top: 0.0em;
}

ul.social {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.social a {
	font-family: FFTisaWebSmallCaps, Georgia;
	letter-spacing: 0.05em;
/*	font-family: MuseoSans-300;*/
	font-size: 1.1em;
	line-height: 1.4em;
}
ul.social li {
	margin-bottom: 0.3em;
}

.home-content .biography {
	margin-bottom: 0.2em;
}

.home-content .headshot {
	margin-bottom: 1.5em;
	margin-top: 0.3em;
	border: 1px solid #aaa;
}

.home-content .around-the-web {
	margin-bottom: 0.66em;
	border-top: 1px solid #aaa;
	padding-top: 1.3em
}

.home-content .around-the-web h2 {
	margin-top: 0em;
	margin-bottom: 0.4em;
}

.icon-font {
	font-family: icon;
	font-size: 0.9em;
	margin-right: 1px;
}

div.writing-index {
	margin-top: 1em;
}
.writing-index .intro {
	font-size: 1.5em;
	line-height: 1.4em;
	font-family: FFTisaWeb, Georgia;
}
.writing-index ul {
	padding: 0px;
}
sup {
	font-family: FFTisaWebMedium, Georgia;
}

.page-footer {
	width: 100%;
	background-color: #F8F8F8;
	margin-top: 1.3em;
	border-top: 1px solid #EEEEEE;
	padding-top: 1em;
	padding-bottom: 1em;
}

.page-footer .footer-content {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.page-footer h2 {
	margin-top: 0.4em;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.page-footer-column {
	display: table-cell;
}

.page-footer .around-the-web {
	width: 100%;
}

.page-footer ul.social a {
	font-size: 1.0em;
}
.page-footer ul.social li {
	margin-bottom: 0.0em;
}

div.longform {
	margin-left: auto;
	margin-right: auto;
}
ul.projects {
	list-style: none;
	padding-left: 0px;
}
ul.projects li p {
	margin-top: 0em;
	margin-bottom: 1.5em;
}

ul.projects li h1 {
	font-family: FFTisaWebMedium, Georgia;
	color: #444444;
	margin-bottom: 0.4em;
	font-size: 2.25em;
	line-height: 1.2em;
	margin-bottom: 0.2em;
}

/* Blog */

div.blog div.content p {
	margin-top: 0em;
	margin-bottom: 1.5em;
}

div.blog div.content svg {

}

div.blog h1 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	font-family: FFTisaWebMediumSmallCaps, Georgia;
	font-size: 5em;
	line-height: 1em;
	letter-spacing: -0.06em;
	word-spacing: 0.1em;
	color: #444444;
}

div.blog h2 {
	font-family: FFTisaWebBold, Georgia;
	font-size: 3.375em;
	line-height: 1.2em;
	margin-top: 0.45em;
	margin-bottom: 0.25em;
	letter-spacing: -0.035em;
	color: #444444;
}

div.blog h3 {
	font-family: FFTisaWebMedium, Georgia;
	font-size: 2.2em;
	line-height: 1.2em;
	margin-top: 0.45em;
	margin-bottom: 0.25em;
	letter-spacing: -0.04em;
	color: #444444;
}

/*div.blog h3 {
	padding: 0em;
	margin-top: -0.30em;
	margin-bottom: 0.0em;
	font-family: FFTisaWebMedium, Georgia;
	font-size: 1.5em;
	line-height: 1.4em;
}
*/
div.blog ul, div.blog ol{
	list-style-position: outside;
	padding-left: 0em;
	margin-top: 0em;
}

figure.highlight {
	border-left: 0.1em solid #888;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #FAFAFA;
}

div.footnotes {
	border-top: 1px dotted #555555;
	padding-top: 1em;
	font-size: 0.85em;
}
div.signature {
	border-top: 1px solid #bbb;
	padding-top: 1.5em;
	display: table;
}
div.photo-cell {
	display: table-cell;
	width: 120px;
	height: 120px;
	text-align: top;
}
div.photo-cell .headshot {
	border: 1px solid #bbb;
	width: 100px;
	height: 100px;
	padding-top: 0px;
}
div.signature div.bio-cell {
	display: table-cell;
	font-family: FFTisaWebItalic;
	vertical-align: top;
}
div.signature div.bio-cell p {
	margin-bottom: 0em;
}
a .twitter-at {
	color: #D48872;
}

.read-more {
	font-size: 1.0em;
	font-family: FFTisaWebItalic;
	letter-spacing: 0.05em;
	text-align: right;
}

svg text {
	font-family: FFTisaWebItalic;
	fill: #414141;
}
svg text.caption {
	font-family: FFTisaWebItalic;
	fill: #414141;
}

svg rect.border {
	stroke: #555;
	stroke-width: 2;
}

svg.chart path.primary-line {
	stroke: #27568F;
	stroke-width: 2;
}

svg.chart path.real-line {
	stroke: #DB4242;
	stroke-width: 2;
}

svg.chart path.grid-line {
	stroke: #F3F3F3;
	stroke-width: 1;
}

pre {
  padding: 0px;
  margin: 0px;
}