@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf"); }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: 700; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaRegular.otf"); }
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNovaBold.otf"); }
body {
  font-family: "ProximaNova";
  color: #111;
  font-size: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden; }

#container {
  margin-top: 5.000em;
  margin-left: auto;
  margin-right: auto; }

h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "ProximaNova-Bold";
  font-size: 1.313em;
  width: 22.08682em;
  color: #222;
  margin-top: 1.875em; }

h3 {
  margin-left: auto;
  margin-right: auto;
  font-family: "ProximaNova-Bold";
  font-size: 1em;
  width: 29em;
  color: #222;
  margin-top: 1.875em; }

a {
  color: #ccc;
  text-decoration: none; }

a:hover {
  color: #999; }

#header {
  padding-top: 0.625em;
  position: absolute;
  left: 0.313em;
  top: 0.313em; }

#logo {
  font-family: "Montserrat";
  font-size: 1.563em;
  letter-spacing: -2;
  color: #ddd;
  font-weight: 700;
  display: inline;
  padding: 0.188em 0.500em 0.188em 0.375em; }

#logo:hover {
  color: #333; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #logo {
    font-size: 60; }

  #header {
    position: relative !important; } }

/*# sourceMappingURL=global.css.map */
