*{color:#000 !important;background-color:#fff !important;text-align:left;}
.nav {display:none;}
.header_top{display:none;}
.search h3{display:none;}
.search form{display:none;}
.search .widget_links ul li{display:none;}
.search .widget_links ul li.last{display:block;}
.subBrandNav{display:none;}
.breadcrumbs{display:none;}
.content a:link:after, .content a:visited:after {content: " (" attr(href) ") ";font-size: 90%;}
.content .value_prop a:link:after, .content .value_prop a:visited:after {content: "";}
.hidden{display:block;}

.tab_printonly {display:block;width:auto;clear:both;}
.wrap,.mainwrap, .mainwrap .content{float:none !important;overflow: visible !important;width:auto;border:0;margin:0; clear:both;}

.share-container {display:none;}

.drawerWidget .drawerControl {display:none;}
.drawerWidget .drawerDetails {display:block;}