@media screen and (max-width: 995px){
	html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
	body, .body-container, .mainwrap, .ltcol{float:none; overflow:visible; width:auto;height:auto;border:0;margin:0; clear:both;min-height:0;}
	header {width:auto;border:0;margin:0;clear:both;}

	.hideFrmL{display:none;}
	.showFrmL {display:block;}
	.contact, .ltcol .ad_box{display:none;}
	.mcontact{float:left;display:block; padding:20px 0 0; width:100%; border-top:1px solid #999; text-align:center; }
	.mcontact span{min-width:200px; display:inline-block;margin-bottom:20px;}
	.socialmediaitem{display:none;}
	.msocialmedia .socialmediaitem{display:block;}
	.msocialmedia{ display:block; padding:20px 0; margin:15px 0 0; width:100%; float:left; border-top:1px solid #999; font-weight:300;}	
	.mcontactBlock {width:100%; float:left;border-top:1px solid #999;padding:0;margin:15px 0 0; }
	.mcontactBlock .mcontact, .mcontactBlock .msocialmedia {border-top:none; width:50%; margin:0; text-align:left;-moz-box-sizing:border-box; box-sizing:border-box;}
	.mcontactBlock .mcontact span {min-width:150px;margin-bottom:0;}
    .mcontactBlock .mcontact {padding-right:10px;}
	
	header .header_top .header_left {display:none;}
	header .banner  .headButton {display:block;}
	header .banner {margin-top:0; overflow:visible; height:57px; border-bottom: 2px solid #555;}
	header .banner .headLogo img {margin:2px 0 0 20px;max-height:55px;}
	.breadcrumbs {background-color:#fff; border:none; padding: 4px 0 3px; font-size: 0.85em; line-height: 1.35em;}
	.btnAction.join {padding:7px 15px;}
	.breadcrumbs #breadcrumbs span:last-child {display:none;}
	.mainwrap {margin:0 15px;padding:0;position:relative;}
	.mainwrap.one_col_a.text-center, .mainwrap.two_col_b.split {margin:0;}
	.mainwrap .body-container {padding:0;}
	.indicator {width:100%;margin-top:15px;}
	.mainwrap .content {padding:15px 0 0; width:calc(100% - 355px)}
	.rtcol {padding-top:15px;}
	.main .topcontent:not(.full-width), .two_col_b .topcontent {padding-top:15px !important;}
	
	/* search bar */
	header .search {width:100%; position:relative;margin-top:-2px;display:none;z-index:150;overflow:visible;border-top:1px solid #fff;cursor:pointer;}
	header .search form .inputsearch {width:90%; width:calc(100% - 35px); max-width:450px;padding:3px 5px 7px;position: absolute; right:0;font-size:1.2em;background-color:#B9B9B9;}
	header .search form .searchbox {width:90%; width:calc(100% - 32px);height:33px;padding:0 15px;background-color:#fff;margin-right:0;}
	header .search form input.icon{margin-top:10px;}
	header .search form input.box {width:calc(100% - 25px);height:33px;margin:0 -7px;background-color:#fff}
	header .search form select {float:none;width:100%;padding-left:7px; margin:2px 0 10px;height:30px;border: 1px solid #B9B9B9;cursor:pointer;}
	header .search form #query::-webkit-input-placeholder{font-size:13px;} 
	header .search form #query::-moz-placeholder {font-size:13px;}
	header .search form #query:-ms-input-placeholder {font-size:13px;}

	/* top navigation */
	nav.topnav {font-size:84%; float:right; position:relative;margin-top:-2px; display:none;z-index:150;overflow:visible;border-top:1px solid #fff;min-height:0;cursor:pointer;}
	nav.topnav menu {width:90%; width:calc(100% - 35px);padding:0;position: absolute; right:0;}
	nav.topnav menu li {float:none; border-bottom:1px solid #fff; width:100%;text-align:left;padding:0.25em 0.1em;}
	nav.topnav menu li:hover, nav.topnav menu li:focus{background-color:#2f4a5b;}
	nav.topnav menu li a {float:none; width:100%; display:inline-block;padding:0.8em 11px 0.7em; }
	nav.topnav menu li a:hover, nav.topnav menu li a:focus {text-decoration:none;}
	nav.topnav menu li.last {border-bottom:0;}
	
	/* left nav */
	.ltcol {padding:0; position:relative;}
	.ltcol .navTitle {position: relative; float:left; display:block; margin:0 -15px; vertical-align:middle; width:100%; cursor:pointer; padding:10px 15px; background-color:#46657f;}
	.ltcol .navTitle:hover, .ltcol .navTitle:focus, .ltcol .navTitle.active {background-color: #46657f;}
	.ltcol .navTitle img {width:35px; margin:-12px 10px 0 0; position:absolute; top:50%; }
	.ltcol .navTitle span {font-size:1em; color:#FFF; text-transform:uppercase;font-weight: 400; padding:5px 0 0 45px; display:inline-block; width:calc(100% - 50px);}
	.ltcol .navTitle.active span {color:#FFF;}
	.ltcol .navTitle span a, .ltcol .navTitle span a:hover {color:#FFF;text-decoration:none;}
	.ltcol .navTitle .expand {display:none;}
	.ltcol .subnav {width:700px; margin:0 -15px; width:calc(100% - 35px); color:#005499; cursor:pointer; display:none;}
	.ltcol .subnav h2, .ltcol .subnav h2.main {background-color:#FFF;padding:0; width:100%; display:inline-block; border-bottom:1px solid #999; text-transform:none; font-size:1.1em; font-weight:normal; line-height:normal; margin-bottom:0;}
	.ltcol .subnav h2 a {width:700px; background:none; color:#005499; display:inline-block; padding:15px; width:calc(100% - 35px); font-size:1em; margin:0;}
	.ltcol .subnav h3 {background-color:#FFF;padding:15px; font-size:1em; border-bottom:1px solid #999 !important; color:#444;}
	.ltcol .subnav h3 a{width:calc(100% - 30px);display:inline-block;}
	.ltcol .subnav.first,.ltcol .subnav.static {margin-top:0;}
	.ltcol .subnav menu {width:100%; margin-top:0;background-color:#FFF;}
	.ltcol .subnav menu li {width:calc(100% - 30px); padding:15px; border-bottom:1px solid #999 !important; background-color:#FFF;}
	.ltcol .subnav menu li:hover,.ltcol .subnav menu li:focus, .ltcol .subnav h2:hover, .ltcol .subnav h2 :focus {background-color:#EFEFEF;}
	.ltcol .subnav menu li.on {background-color:#E2E2E2;font-weight:bold;}
	.ltcol .subnav menu li a {font-size:1em; color:#005499; background:none; padding:0;}
	.ltcol .subnav menu li.indent{padding:15px 15px 15px 40px; margin:0;width:calc(100% - 55px);background-color:#EFEFEF;}
	.ltcol .subnav menu li.indent:hover, .ltcol .subnav menu li.indent:focus{background-color:#F9F9F9;}
	.ltcol .subnav menu li.indent a {font-size:0.9em;background:none;}
	.ltcol .subnav a:hover, .ltcol .subnav a:focus {text-decoration:none; color:#05416B;}
	
	/*footer */
	footer {margin-bottom:45px;}
	footer, .rwd-footer, .mega-footer .container {width:100%;}
	.rwd-footer ul{float:left;width:100%;text-align:left; -moz-box-sizing:border-box; box-sizing:border-box;}
	.rwd-footer p {text-align:left; clear:left; margin:0; width:auto;padding:0;}
	.rwd-footer div {float:left; clear:none;}
	.rwd-footer .more-sites div {width:100%; text-align:left; padding:10px 0;}
	.rwd-footer .standard {padding-bottom:20px;}
	.rwd-footer .standard ul {padding:0 15px 20px 0;}
	.mega-footer .back-to-top img {right:10px;}
	.mega-footer .listTop .listItem {width:50%;}
	.mega-footer.bottom .moresites-cta {width:100%; display:block;}
	.mega-footer .more-sites, .mega-footer .cta-wrap {width:100%; display:block; clear:both; float:none; }
	.mega-footer .cta-wrap {height:130px; border-top:1px solid #cdcdcd; padding-top:20px;}
	.mega-footer .cta-wrap span {margin-bottom:0;}
	.mega-footer .footerlinks-socialmedia {border-bottom: none; margin-bottom:0;}
	.mega-footer .footer-links {width:100%;}
	.mega-footer .social-media-wrap {border-bottom: 1px solid #cdcdcd; width:100%;}
	
	/* Email This and e-Card */
	.emailThis {margin:10px auto;width:100%; max-width:500px;}
	.emailThis .header {width:100%; max-width:500px;}
	.emailThis form {width:90%; width:calc(100% - 30px);}
	.emailThis .frmFields {width:100%;}
	.emailThis .statement{width:100%;} 
	.emailThis.card, .emailThis.card .header{max-width:720px;}
	
	/* template grid */
	.one_col_a .content,.two_col_a .content, .two_col_a.content, .two_col_b .content, .newsletter .content , .two_col_c .content, .two_col_c.content, .three_col_a.main {width:100%; padding:15px 0 0; -moz-box-sizing:border-box; box-sizing:border-box;}
	.one_col_a .content .narrow, .one_col_a.narrow .content  {width:auto;}
	.two_col_a .image_title img {max-width:100%; height:auto;}
	
	/*search results */
	.genericsearch .btnRefine {display:none; float:left; cursor:pointer; font-size: 1em; padding: 7px 15px; border: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0; text-align: center; background: #005499; text-transform: uppercase; color:#FFF; transition: background-color 0.2s ease-out,color 0.2s ease-out;}   
	.genericsearch .btnRefine:hover, .genericsearch .btnRefine:focus{background: #046fb7;transition: background-color 0.2s ease-in, border-color 0.2s ease-in;}

	.genericsearch .tab_printonly {display:none;}
	.genericsearch .bindicator {display:none;}
	.genericsearch {padding-top:15px;}	
	.pagination .pager {margin-top:-2px;}
	.pagination .sortby_dd, .pagination .sortby_size {margin-top: -4px;} 
	.three_col_a.genericsearch .rtcol .listBoxModule {display:none;}
	.two_col_a.genericbrowse .content{width:100%;}
	.content .rslt_snips ul li span.lnk {width:calc(100% - 35px);}
	.two_col_a .pagination {width:100%;}
	.pagination .sortby {display:none;}
	
	.rtcol .subscribe a.btnAction{width:auto; min-width:200px; margin-bottom:25px;}

	.resp-accordion-closed {display:none !important;}
	
	.hero:not(.titleImage) .titleWrap {width:40%;margin:0;}
	.title-background {width:100%;}
	.title-background .title-desc {font-size: 1.6em;}
	.titleImage.hero h1{font-size: 3.5em; line-height: 1.15em;}
	.titleImage.hero .subtitle{font-size:1.375em;}
	
	/* feature-rich items */
	.carousel .carouselDesc {font-size:1.06em;}
	.carousel .carouselDesc .title{font-size:1.4em;}
	.horizontalGallery .hgItemTitleLink {font-size:0.92em;}
	.horizontalGallery .hgItemTitleLink span.handout {font-weight:normal;}

    .adPackageItem.ad-2 .leftside {width:100%; margin-bottom: 20px;}
    .adPackageItem.ad-2 .rightside {width:100%;}

	.one_col_a.landing .top .topright_content {width: 100%; margin-top:20px;}		
	
	.two_col_b.productListing .value_prop {width:100%;}
	.rwdLarge .rtcol .listBoxModule.ordersummary {width:100%; float:left; clear:none; margin: 0 0 10px;}
	
	.iconWidget.threePerRow .module {width: calc(33% - 18px);}
	.one_col_a .twoCol_content .iconWidget.twoPerRow .module,
    .one_col_a .twoCol_content .iconWidget.threePerRow .module ,
    .one_col_a .twoCol_content .iconWidget.fourPerRow .module {width: 100%; margin-left: 0; margin-right: 0;}
	.rtcol .featureRichItem {clear:none; float:none;}

	.one_col_a .twoCol_content .boxWidget.twoPerRow .module,
    .one_col_a .twoCol_content .boxWidget.threePerRow .module,
    .one_col_a .twoCol_content .boxWidget.fourPerRow .module {width: 100%; margin-left: 0; margin-right: 0;}
}

@media screen and (min-width: 768px) and (max-width: 995px) {
	header .banner .headLogo img.large{margin-top:12px;}
	.two_col_b:not(.rwdLarge) .content, .three_col_a .content {width:calc(100% - 345px);}
	.three_col_a.genericsearch .content, .two_col_a.genericsearch .content {padding-left:20px; width:calc(100% - 255px);}
	.rwdLarge .content {width:100% !important;}
	.rwdLarge .rtcol {clear: both; padding:20px 0;float:none;width:auto;margin:0;}
	.rwdLarge .rtcol .listBoxModule:not(.ordersummary), .rwdLarge .rtcol .rt_rail_image,.rwdLarge .rtcol .ad_box {width:45%; float:left; clear:none; margin: 0 2% 10px;}
	.rwdLarge .socialmediaitem {margin-left:2%;}
	.rwdLarge .rtcol .ad_box {width:45.5%;}
	.rwdLarge .rtcol .ad_label{float:none;}
	.rwdLarge .horizontal-icon-bar {position:fixed; bottom:0; left:0; padding:5px 10px; background-color: #F7F7F7;margin-bottom:0;z-index:60;width:100%;}
	.rwdLarge .vertical-icon-bar {display: none;}
	.rwdLarge .article_body_wrapper {float: left;width: 100%;}
    .rwdLarge #ie-margin-fix {display:block;}
		
	/*Tabs convert to accordion */
	.two_col_b:not(.rwdLarge)not(.split) ul.resp-tabs-list { display: none;}
	.two_col_b:not(.rwdLarge)not(.split) h2.resp-accordion {display: block;}
	.two_col_b:not(.rwdLarge)not(.split) .rwdTabMain .resp-tabs-container {padding:0; background-color:#fff; border:4px solid #E8E9E4;width:98%;}
	.two_col_b:not(.rwdLarge)not(.split) .resp-tab-content {padding:15px 15px 25px; border-top:1px solid #c1c1c1;}
	.two_col_b:not(.rwdLarge)not(.split) .resp-tab-content:first-child{border:none;}

    .two_col_b .rwdTabMain .twoCol_content .sectionA {width:48%; width: calc(48% + 15px);}
	.two_col_b .rwdTabMain .twoCol_content .sectionB {width:48%; width: calc(48% - 15px);}

	/* accordion */
	.two_col_b.rpt_detail.rwdLarge .rtcol {padding:20px 0;float:none;width:auto;margin:0;}

	/* title image */
	.titleImage hgroup {width: calc(50% - 15px);}
	.titleImage.right hgroup p.title {padding-right: 15px;}
	.titleImage.noImage hgroup { padding: 0 15px;}
	.hero-feature {left: calc(40% + 30px); width:calc(60% - 50px);}
	.title-background .title-desc {font-size: 1.3em;}

	
	/* feature-rich items */
	.featureRichItem .slider .slideDesc, .two_col_a .featureRichItem .slider .slideDesc, .two_third .featureRichItem .slider .slideDesc  {width: 40%;}
	.carousel.large .carouselWrap {width:100%;}
	.carousel.large .carouselWrap  .btnPausePlay {bottom:-24px;margin-bottom:-3px;}
	.carousel.large .carouselItem img {width:100%;height:auto;}
	.carousel.large .navIndicator{display:block;}
	.carousel.large .carouselDesc {width:100%; padding:10px; font-size:1.03em;}
	.carousel.large .carouselDesc  p {margin:0;}
	.carousel.large .navTabs {display:none;}
	
	.featureRichItem .slider .sliderItem img {width: 114%; margin: 0 -6%;}
	.twoCol_content .sectionA .featureRichItem .videoPkg .videoItem, .twoCol_content .sectionB .featureRichItem .videoPkg .videoItem {padding:10px 0;}
	.two_col_b.split .content .featureRichItem .videoPkg .videoItem .videoDesc {width:100%; margin-left: 0px;}
	.two_col_b.split .content .featureRichItem .videoPkg .videoItem .videoCode{width:100%; height: auto; margin-bottom: 10px;}
    .two_col_b.split .content .featureRichItem .videoPkg .videoItem, .two_col_b.split .content .featureRichItem .videoPkg .videoItem.last  {padding: 35px 0 15px 0; border-bottom: 3px double #c8c8c8; border-top: none;}
	.two_col_b.split .content .featureRichItem .videoPkg .videoItem.first {padding-top:10px;}
	.two_col_b.split .content .calloutWidget {margin: 0 10px;}	
	.two_col_b.split .content .calloutWidget .callout {font-size:1.1em;line-height:1.4em; width:100%; padding: 10px 20px 10px 40px;}
	.two_col_b.split .content .calloutWidget .callout:before {left:10px; top:25px;}
	.two_col_b.split .content .calloutWidget .callout .quote:after {bottom:-6px;}
	.two_col_b.split .content .calloutWidget .callout .author {font-size:.8em; padding-top:5px;}
	.two_col_b.split .content .calloutWidget figure {width:120px; padding:10px; -moz-box-sizing:border-box; box-sizing:border-box;}
	.two_col_b.split .content .calloutWidget figure ~ .quoteWrap{width: calc(100% - 120px); }
	.two_col_b.split .content .calloutWidget .quoteWrap.twitter {width:100%;}
	.two_col_b.split .content .calloutWidget .quoteWrap.twitter .callout {padding:10px 20px 10px 40px; width: calc(100% - 110px);}
	.two_col_b.split .content .calloutWidget .twitter-link {font-size:.8em; padding:10px 0 0; width: 90px;}
	.two_col_b.split .content .calloutWidget div.click-to-tweet, .two_col_b.split .content .full-width.darkbg div.click-to-tweet {background-size: 50px 50px; height:50px;background-position:50% -4px;}
	
	.iconWidget.fourPerRow .module {margin-bottom: 30px; width: calc(50% - 17px);}
	.iconWidget.fourPerRow .module:nth-child(odd) {margin-left: 0px;}
	.iconWidget.fourPerRow .module:nth-child(even) {margin-right: 0px;} 		
	.standardWidget.fourPerRow .module, .drawerContent.fourPerRow .module {width: calc(50% - 15px); margin-left:15px; margin-right:15px;}
	.standardWidget.fourPerRow .module:nth-child(odd), .drawerContent.fourPerRow .module:nth-child(odd){margin-left: 0px;}
	.standardWidget.fourPerRow .module:nth-child(even), .drawerContent.fourPerRow .module:nth-child(even){margin-right: 0px;} 
	.standardWidget.fourPerRow .module:nth-last-child(-n+2) {border-bottom:none;}
	.fourCol_content .oneForth {width:calc(50% - 15px); margin: 0 15px 15px;}
	.fourCol_content .oneForth:nth-child(odd){margin-left: 0px;}
	.fourCol_content .oneForth:nth-child(even){margin-right: 0px;} 
	
	.one_col_a .rtcol.withad {-ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;flex-wrap: wrap;}
    .one_col_a .rtcol.withad .listBoxModule {-ms-flex: 0 1 auto; -webkit-flex-grow: 1; flex-grow: 1;}
	.one_col_a .rtcol.withad .listBoxModule:nth-child(2) {width: 33%; margin-right: 10px; margin-bottom: 30px;}
	
	.rwd-footer > div:last-child {padding-bottom:45px;}
}

@media screen and (min-width: 768px) and (max-width: 995px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.rwd-footer > div:last-child {padding-bottom:90px;}	
}

@media screen and (max-width: 767px){
	body {font-weight: 400;}
	.mainwrap .content, .mainwrap .content .wysiwyg, .mainwrap .content .main, .ctcol, .rtcol, .article .rtcol, .pagination {float:none;overflow: visible;width:auto;height:auto;border:0;margin:0; clear:both;min-height:0;}
	.wysiwyg ol, .wysiwyg ul,.wysiwyg ul li,.mainwrap .content li,.mainwrap li {float:none; width:auto;}

	header .header_top #navigation li a {background:none;}
	header .header_top #navigation li#HeaderLoginLink a {padding-left:16px; background:url("../Content/Images/login-blue.png") no-repeat 0 50%; background-size:12px 11px;}
	header #HeaderHomeLink, header #HeaderOtherLink, header #HeaderHelpLink {display:none;}
	header .banner .headLogo img.large{max-width:320px; height:auto; margin:17px 0 0 10px;}
	.hideFrmM{display:none;}
	.showFrmM {display:block;}
	.largeOnly {display:none;}
	.ltcol .subnav {width:450px; width:calc(100% - 35px);}
	.ltcol .subnav h2 a {width:450px; width:calc(100% - 35px); }
	.ltcol .subnav menu li {width:455px; width:calc(100% - 30px);}

	.rtcol {padding:20px 0;}
	.three_col_a .rtcol, .two_col_a .rtcol {width:auto;}
	.iframed .rtcol, .iframed .mcontact {display:none;}
	.rtcol .listBoxModule, .rtcol .rt_rail_image,.rtcol .adWrap, .event_calendar {width:47.5%; float:left; clear:none; margin: 0 1% 10px;}
	.socialmediaitem {margin-left:1%;}
	.rtcol .ad_box {width:100%;margin-top:10px;}
	.rtcol .ad_box img  {max-width:100%;}
	.ad250x250 {max-width:250px;}
	.ad240x400 {max-width:240px;}
	.ad220x190 {max-width:220px;}
	.ad160x600 {max-width:160px;}
	.ad300x250, .ad300x600 {max-width:300px;}
	.rtcol .ad_label{float:none;}
	.mainwrap .rtcol .listBoxModule .more  {width:96%;}
	
	.rwd-footer ul {padding:0;}
	.rwd-footer ul li  {float:left; padding:0; background:none; width:100%; font-size:1em;line-height:2.75em;}
	.rwd-footer .social-media div {float:left;}
	.rwd-footer div.back-to-top {display:block;}
	.mega-footer .back-to-top img {bottom:60px;}
	.mega-footer.bottom {padding-bottom:100px;}
	.mega-footer .more-sites, .mega-footer .cta-wrap, .mega-footer .footer-links,.mega-footer .social-media-wrap, .mega-footer .copyright {text-align:center;}
	.mega-footer .callitems {width:360px; margin:10px auto;}
	.mega-footer .callitem {padding-right:40px;}
	.mega-footer .callitem:nth-of-type(4) {padding-right:0;}
	.mega-footer .social-media-wrap span {float:none; width:100%; padding:20px 0 0;}
	.mega-footer .social-media-items {width:255px; margin:0 auto; height:40px; padding-bottom:20px;}
	.mega-footer .social-media-items a:last-of-type .social-media-item {margin-right:0;}
	.mega-footer .social-media-more a {padding-top:0; margin-bottom:15px;}
	.mega-footer .footer-links ul {display:inline-block;text-align:center;}
	#ie-margin-fix{display:block;}
	
	.emailThis.card, .emailThis.card .header {max-width:500px;}
	.rtcol .buttonA {width:calc(100% - 55px);}

	.horizontal-icon-bar {position:fixed; bottom:0; left:0; padding:5px 10px; background-color: #F7F7F7;margin-bottom:0;z-index:60;width:100%;}
    .vertical-icon-bar {display: none;}
    .article_body_wrapper {float: left;width: 100%;}

	.genericsearch .btnRefine {display:block;}
	.genericsearch .ltcol_legend {display:none;}
	.genericsearch .ltcol_refine {display:none;}
	.pagination .pagesize {padding: 0}
	.pagination .pages {display:none;}
	.pagination .next_page {padding:0 12px;}
	.ref_by li , .ref_by p, .ref_by .fmore{padding-left:10px;}
	.ref_by_date {padding-left:10px; width: calc(100% - 10px);}
	.refineOverlayWindow .date_range .date_picker {background:none;}
	.content .rslt_snips ul li span.index {display:none;}
	.content .rslt_snips ul li span.lnk {width:100%;}
	.content .rslt_snips .bestbet {padding-left:5px;}
	.content .sbluebg ul {width:100%;}
	.sbluebg .errMsg {padding:0;display:inline-block;float:left;clear:both;}
	
	nav.alphabet {width:100%;padding:0; margin:0; overflow:visible;min-height:0;float:right;position:relative;}
	nav.alphabet menu {padding:0;position: absolute; right:0;width:25px;top:1px;}
	nav.alphabet menu li {float:none; border-bottom:1px solid #fff; background:none; width:100%;text-align:center;padding:0;}
	nav.alphabet menu li span {padding:5px 0;}
	nav.alphabet menu li a {float:none; padding:5px 0; width:100%; display:inline-block;}
	nav.alphabet +.sresults {width: calc(100% - 35px);min-height:748px;}
	.content .sresults ol li span.num, .content .sresults ol li span.index {display:none;}
	.content .sresults .desc {width:100%;}
	.content .sresults .desc img {padding-left:0;}
	.content .sresults .desc .text {width:calc(100% - 110px);}

	.newsletter .issue_date .right {width:100%;}
	.newsletter .issue_title .pub_title h1 {width:100%;}
	.newsletter .lead_story img {width:100%;}

	/*Tabs convert to accordion */
	ul.resp-tabs-list {display: none;}
	h2.resp-accordion {display: block;}
	.rwdTabMain .resp-tabs-container {padding:0; background-color:#fff; border:4px solid #E8E9E4; width:98%;}
	.resp-tab-content {padding:15px 15px 25px; border-top:1px solid #c1c1c1;}
	.resp-tab-content:first-child{border:none;}		
	.rwdTabMain.resp-vtabs .resp-tabs-container {border-radius: 0px;}

	/* accordion */
	.two_col_b.rpt_detail .rtcol {padding:20px 0;float:none;width:auto;margin:0;}

    /* vertical TabWidget */
	.rwdTabMain.resp-vtabs .resp-tabs-container { width: 98%; padding: 0; background-color: #fff; border: 4px solid #E8E9E4;}
	.rwdTabMain.resp-vtabs .resp-tabs-list li { display: block; padding: 15px 5px 15px 5px!important; margin: 1px 0px 1px 1px; cursor: pointer;float: none;}
	.rwdTabMain.resp-vtabs .resp-tab-content { padding: 15px 15px 25px; border: 1px solid #c1c1c1; border-bottom: none;  border-right: none;  border-left: none;}
    .featureRichItem .tabWidget h2.resp-accordion {margin-bottom: 0px;}

    /* Report & Brochure Callout */
	.two_col_b.rpt_detail .content .intro_wrap .left {overflow: hidden; float: left; width:100%; margin-bottom: 10px; }
	.two_col_b.rpt_detail .content .callout {display: none; }      
	.two_col_b.rpt_detail .content .rwdCallout {display: inline-block; overflow: hidden; float:none; width: 100%; margin: 40px 0 60px 0; background-color: #EBF4FB; padding: 10px 0 10px 0px; vertical-align: top; border-top: 2px solid #6497cb;} 
	.two_col_b.rpt_detail .content .rwdCallout .wysiwyg {padding: 0 10px 0 10px;}

    /* title image */
	.titleImage {border-top-width: 5px;}
	.titleImage img, .two_col_b .topcontent .titleImage img {width: 100%; max-width:100%; float: none;}
	.titleImage hgroup {width: 100%; position: relative; bottom: 0px; padding: 15px 0 15px 0; }    
	.titleImage.right hgroup {padding-left: 0px;}
	.titleImage.left hgroup {width: 100%; right: 15px;}
	.titleImage:not(.White) hgroup  h1 {padding: 0 15px 10px 15px;}	
	.titleImage:not(.White) hgroup div.subtitle {padding: 0 15px 0 15px;}
	.titleImage.left hgroup p {text-align: left;}
	.titleImage.noImage hgroup { padding: 0 15px;}
    .two_col_b .topcontent .titleImage:not(.hero) hgroup {width: 100%;}
	.titleImage.hero {border:none;}
	.titleImage.hero h1{font-size: 2.8em; line-height: 1.1em;} 
	.hero-eyebrow {display:none;}
	.hero-image img {width: 100%; height:auto; margin: 0;}
	.hero-feature {width:100%; left:0; padding:25px; bottom:0;-moz-box-sizing:border-box; box-sizing:border-box;}	
	.titleImage.hero hgroup {bottom:0;}
	.hero:not(.titleImage) .titleWrap {width:100%;}
	.title-background {position:relative; width:100%; height:auto;background-color: rgba(40, 40, 40, 1); height:auto; }
	.title-background.blue {background: rgb(12, 40, 58);}
	.title-background h1 {font-size:2.5em;}

	/* title image for newsletter */
	.two_col_b.newsletter .titleImage {border-top-width: 0px;}
	.two_col_b.newsletter .titleImage img {width: 100%; max-width:100%; float: none;}
	.two_col_b.newsletter .titleImage.left hgroup {width: 94%; right: 0px; clear: both; float: none;}
	.two_col_b.newsletter .titleImage hgroup div.intro {padding-right: 10px;}
	.two_col_b.newsletter .titleImage hgroup h2 {padding-right: 10px;}
	.two_col_b.newsletter .titleImage hgroup div.teaser {padding-right: 10px;}
	.two_col_b.newsletter .titleImage hgroup div.author {padding-right: 10px;}	
	.two_col_b .rwdTabMain .twoCol_content .sectionA {width: 100%; padding:0;}
	
	.two_col_b .rwdTabMain .twoCol_content .sectionB {width: 100%;}	
	
	.three_col_a.main .content, .two_col_b .main .content {width:100%;}
	.three_col_a.landing.main .topcontent {margin-bottom:0;}
	.main .twoCol_content .sectionA, .main .twoCol_content .sectionB {width: 47.5%; padding:0;}
	
	/* feature-rich items */
	.featureRichItem .slider .container{height:430px; background-color:#E4E4E4;min-width:300px;}
	.featureRichItem .slider .sliderItem {left:calc(50% - 225px);width:450px;background-color:#F1F1F1;}
	.featureRichItem .slider .sliderItem img {width:100%;height:auto;}
	.featureRichItem .slider .slideDesc, .two_col_a .featureRichItem .slider .slideDesc, .two_third .featureRichItem .slider .slideDesc {width:calc(100% - 30px); margin:0 15px; height:160px;}
	.featureRichItem .slider .slideDesc .more {top:110px; }
	.featureRichItem .slider .navButton img {bottom:265px;}
	.carousel .carouselWrap {width:100%;}
	.carousel .carouselWrap  .btnPausePlay {bottom:-24px;margin-bottom:-3px;}
	.carousel .carouselItem img {width:100%;height:auto;}
	.carousel .navIndicator{display:block;}
	.carousel .carouselDesc {padding:10px; font-size:1.03em;}
	.carousel .carouselDesc .title {margin: 0 0 3px;} 
	.carousel .carouselDesc  p {margin:0;}
	.carousel .navTabs {display:none;}
	.horizontalGallery .navSummry {font-size:0.8em;}

	.featureRichItem .videoPkg .videoItem  .videoDesc{width:100%; margin-left: 0px; }
	.featureRichItem .videoPkg .videoItem  .videoCode{width:100%; height: auto; margin-bottom:10px; }
    .featureRichItem .videoPkg .videoItem, .featureRichItem .videoPkg .videoItem.last  {padding: 35px 0 15px 0; border-bottom: 3px double #c8c8c8; border-top: none;}
	.featureRichItem .videoPkg .videoItem.first{padding-top:10px;}	
	.twoCol_content .sectionA .featureRichItem .videoPkg .videoItem, .twoCol_content .sectionB .featureRichItem .videoPkg .videoItem {border-bottom:none;padding:10px 0;} 	
	
	/* 0.11 Directorate */ 
	.content .topcontent .contentinfo {background: none; background-color: #6885A4; }
	.content .topcontent .contentinfo .leftcontent {background-color: #6885A4 !important;}
	.content .topcontent .contentinfo .leftcontent.noimage {width: auto; padding-bottom:15px; }
	.content .topcontent div.rightcontent {left: 0; width: 100%; background-color: #EBF4FB;}
	.two_col_a.content .listSetContainer .listContent {width: 100%;margin-left: 0;margin-right: 0;clear: both;display: block;padding: 15px 0;}	
	.more_BlueBG {position: inherit; width: auto; padding: 0 10px 0 0;}	
	.content .topcontent div.rightcontent ul li {width: 97%;}	
	
	.landing .content .twoCol_content {width:100%; -moz-box-sizing:border-box; box-sizing:border-box;}
	.two_col_c .content .sectionA, .two_col_c.content .sectionA, .twoCol_content .sectionA, .two_col_c .content .sectionB, .two_col_c.content .sectionB, .twoCol_content .sectionB {width:100%; padding:0;}
	
	.productListing .value_prop .bluebg .right {border:none; float:left !important; width: calc(100% - 180px); padding: 10px 15px 15px 0;}
	.productListing .value_prop .bluebg .info, .productListing .value_prop .bluebg .info.wide {clear:both;width:100%;margin-top:10px;}
	
    .one_col_a .twoCol_content .oneHalf.first, 
	.one_col_a .twoCol_content .oneHalf.last {width: 100%; padding-left: 0; padding-right: 0;} 
	.one_col_a .twoCol_content .oneHalf.first {margin-bottom:30px;}
    .one_col_a .twoCol_content .oneHalf.last .linkWidget.link .module.first {border-top: 1px dotted #8CA7C0; }
    .one_col_a .twoCol_content .oneHalf.last .linkWidget.link h3 + .module.first { border-top: none;}  
    .one_col_a .twoCol_content .oneHalf.first .featureRichItem {margin-bottom: 0;}
    .one_col_a .twoCol_content .oneHalf.last .featureRichItem {margin-top: 0;}
    .one_col_a .threeCol_content .oneThird.first, 
    .one_col_a .threeCol_content .oneThird.middle,
	.one_col_a .threeCol_content .oneThird.last  {float: left; width: 100%; padding-right: 0px; padding-left: 0px;}
    .one_col_a .threeCol_content .oneThird.middle  .linkWidget.link .module.first,
    .one_col_a .threeCol_content .oneThird.last  .linkWidget.link .module.first
	{border-top: 1px dotted #8CA7C0; }
    .one_col_a .threeCol_content .oneThird.middle .linkWidget.link h3 + .module.first,
    .one_col_a .threeCol_content .oneThird.last .linkWidget.link h3 + .module.first	
	{ border-top: none;}
    .one_col_a .threeCol_content .oneThird.first, .one_col_a .threeCol_content .oneThird.middle {padding-bottom: 0px;}
	.one_col_a .threeCol_content .oneThird.first .featureRichItem {margin-bottom: 0;}
    .one_col_a .threeCol_content .oneThird.middle .featureRichItem {margin-top: 0; margin-bottom: 0;}		
    .one_col_a .threeCol_content .oneThird.last .featureRichItem {margin-top: 0;}	
    
	.linkWidget.link .module, .linkWidget.list .module  {-ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start;}
    .sectionB .linkWidget.link .module.first {border-top: 1px dotted #8CA7C0;}  
    .sectionB .linkWidget.link h2 + .module.first { border-top: none;} 

	.boxWidget.twoPerRow .module, .boxWidget.threePerRow .module {width: 100%; margin-left: 0; margin-right: 0;} 
	.boxWidget.onePerRow figure.full img, .boxWidget.twoPerRow figure.full img,.boxWidget.threePerRow figure.full img{width: 100%;}	
	.boxWidget.fourPerRow .module {width: calc(50% - 15px);}	
	.boxWidget.fourPerRow .module:nth-child(odd) {margin-left: 0px;}
	.boxWidget.fourPerRow .module:nth-child(even) {margin-right: 0px;} 
	
	.tileWidget.threePerRow .module {width: 100%; margin-left: 0; margin-right: 0; display:block;-moz-box-sizing:border-box; box-sizing:border-box;} 
	.tileWidget.threePerRow figure {width:50%; float:left; padding-right: 10px; -moz-box-sizing:border-box; box-sizing:border-box;}
	.tileWidget.threePerRow .desc {width:50%; float:left; clear:none;padding-left:10px; -moz-box-sizing:border-box; box-sizing:border-box; }
	.tileWidget.fourPerRow .module {width: calc(50% - 15px); margin-left:15px; margin-right:15px;}
	.tileWidget.fourPerRow .module:nth-child(odd){margin-left: 0px;}
	.tileWidget.fourPerRow .module:nth-child(even){margin-right: 0px;} 

    .adPackageItem.ad-1 .leftside {width:100%; margin-bottom: 20px;}
    .adPackageItem.ad-1 .rightside {width:100%;}
    .adPackageItem .rightside .adWrap:first-child {margin-left:0;}
	
	.calloutWidget .callout {font-size:1.1em;line-height:1.4em; width:100%; padding: 10px 20px 10px 40px;}
	.calloutWidget .callout:before {left:8px; top:25px;}
	.calloutWidget .callout .quote:after {bottom:-6px;}
	.calloutWidget .callout .author {font-size:.8em; padding-top:5px;}
	.calloutWidget figure {width:120px; padding:10px; -moz-box-sizing:border-box; box-sizing:border-box;}
	.calloutWidget figure ~ .quoteWrap{width: calc(100% - 120px); }
	.calloutWidget .quoteWrap.twitter {width:100%;}
	.calloutWidget .quoteWrap.twitter .callout {padding:10px 20px 10px 40px; width: calc(100% - 110px);}
	.calloutWidget .twitter-link {font-size:.8em; padding:10px 0 0; width: 90px;}
	.calloutWidget div.click-to-tweet, .calloutWidget.dark-gray div.click-to-tweet, .content .full-width.darkbg div.click-to-tweet {background-size: 50px 50px; height:50px; background-position:50% -4px;}	
	.one_col_a .oneCol_content .calloutWidget figure {width:115px; padding-right:15px;}

	
	/* icon, list, link & drawer widgets display 1x1 at M & S */
	.iconWidget.twoPerRow .module, .iconWidget.threePerRow .module, .iconWidget.fourPerRow .module {width: 100%; margin-left: 0; margin-right: 0;}	
	.standardWidget.twoPerRow .module, .standardWidget.threePerRow .module, .standardWidget.fourPerRow .module,
	.drawerContent.twoPerRow .module, .drawerContent.threePerRow .module, .drawerContent.fourPerRow .module
	{width: 100%; margin-left: 0; margin-right: 0; display:block;-moz-box-sizing:border-box; box-sizing:border-box;} 	
	.fourCol_content .oneForth {width: 100%; margin: 0 0 15px;}	
	
    .callActionLower {display:block;}
    .callActionLower .leftside{width:100%; padding:0;}
	.callActionLower .rightside{width:100%; padding:10px 0 0; float:left; text-align:left;}	
	.one_col_a .rtcol.withad  {-ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;flex-wrap: wrap;}
	.callAction.announcement .wysiwyg {text-align:center;}
	.one_col_a .rtcol.withad .listBoxModule, .one_col_a .rtcol.withad .listBoxModule:first-child {width: 100%; margin-right: 0; margin-bottom: 30px; height:auto; padding: 10px 10px 20px 35px; -ms-flex: 1 1 auto;}
	
	.content .full-width.large-image .overarch {padding:0 15px;-moz-box-sizing:border-box; box-sizing:border-box;}
}

@media screen and (min-width: 481px) and (max-width: 767px){	
	.three_col_a .iconWidget.twoPerRow .module, .two_col_b  .twoCol_content .iconWidget.twoPerRow .module,.two_col_a .twoCol_content .iconWidget.twoPerRow .module {width: calc(50% - 15px); margin:0 15px 30px;}
	.three_col_a .iconWidget.twoPerRow .module:nth-child(odd), .two_col_b .twoCol_content .iconWidget.twoPerRow .module:nth-child(odd), .two_col_a  .twoCol_content .iconWidget.twoPerRow .module:nth-child(odd) {margin-left: 0px;}
	.three_col_a .iconWidget.twoPerRow .module:nth-child(even), .two_col_b .twoCol_content .iconWidget.twoPerRow .module:nth-child(even), .two_col_a  .twoCol_content .iconWidget.twoPerRow .module:nth-child(even) {margin-right: 0px;}
	.three_col_a .boxWidget.twoPerRow .module,.two_col_b .twoCol_content .boxWidget.twoPerRow .module,.two_col_a .twoCol_content .boxWidget.twoPerRow .module{width: calc(50% - 15px);margin:0 15px 30px;}
	.three_col_a .boxWidget.twoPerRow .module:nth-child(odd), .two_col_b .twoCol_content .boxWidget.twoPerRow .module:nth-child(odd), .two_col_a .twoCol_content .boxWidget.twoPerRow .module:nth-child(odd) {margin-left: 0px;}
	.three_col_a .boxWidget.twoPerRow .module:nth-child(even), .two_col_b .twoCol_content .boxWidget.twoPerRow .module:nth-child(even), .two_col_a .twoCol_content .boxWidget.twoPerRow .module:nth-child(even) {margin-right: 0px;} 	

	.tileWidget.threePerRow .module .body {width:95%; margin:2.5%;}
    .rtcol .ad_box {margin-right:10px !important;}
}

@media screen and (max-width: 650px){
	.rtcol .adWrap {width:100%; margin-left:0; margin-right:0;}
}

@media screen and (max-width: 480px){
	img.toggle-close, img.toggle-open{display:block;}
	img.toggle-close.hidden, img.toggle-open.hidden {display:none;}
	header .banner .headButton {margin-top:-2px;}
	header .banner .headLogo img.small{display:block; max-height:40px; margin:2px 0 0 10px;padding-top:8px;}
	header .banner .headLogo img.large{display:none;}
	header .search {margin-top: 3px;}
	.hideFrmS {display:none;}
	.mobileOnly, .showSmall {display:block;}
	.mcontactBlock .mcontact, .mcontactBlock .msocialmedia {width:100%;}
	.breadcrumbs .widget_links{display:none;}
	.breadcrumbs #breadcrumbs {width:calc(100% - 20px);}
	.ltcol .subnav {width:300px; width:calc(100% - 35px);}
	.ltcol .subnav h2 a {width:300px; width:calc(100% - 35px); }
	.ltcol .subnav menu li {width:305px; width:calc(100% - 30px);}
	.rtcol .listBoxModule, .rtcol .rt_rail_image, .socialmediaitem, .event_calendar {width:100%; margin-left:0; margin-right:0;}
	.rtcol .listBoxModule.common .searchWidget div.more {width: 96%;}
	.mainwrap .rtcol .listBoxModule .more  {width:93%;}
	.refineOverlayWindow {width: 225px;} 
	.pagination p.xofy {display:none;}
	.pagination .wrapper {text-align:center;}
	.pagination .pagesize {display:none;}
	.two_col_b:not(.genericsearch) .pagination .pageset {float:none;}
	.two_col_a .content .sresults li .author_name {display:none;}
	.two_col_a .content .sresults li .author_name:first-child {float:left; width:100%;display:block;}
	.two_col_a .content .sresults .author_titles {float:left; display:block; width:100%;}	
	.sbluebg .date_range  #yearFrom, .sbluebg .date_range  #yearTo {margin-right:0;}
	.sbluebg .date_range  .date_picker{width:80px;}
	.sbluebg .upd_rslts {margin:8px 0 5px;float:left;clear:both;}
	
	.mega-footer .listTop .listItem {width:100%;}
	.mega-footer .more-sites ul {width:100%; margin:0; padding:0;}
	.mega-footer .more-sites ul:last-of-type {margin-bottom:20px;}
	.mega-footer .cta-wrap {height:200px;}
	.mega-footer .callitems {width:180px; margin:10px auto;}
	.mega-footer .callitem:nth-of-type(2) {padding-right:0;}
	.mega-footer .footer-links ul {clear:both; padding:0 20px;}
	.mega-footer .footer-links ul li:first-child {background:none; padding-left:0; }
		
	.emailThis header .banner .headLogo img {max-width:300px;padding-top:0;}
	.emailThis input, .emailThis textarea{clear:left; width:280px;}
	.emailThis .indent {margin-left:0;}
	.emailThis.card, .emailThis.card .header{width:100%;}
	
	.newsletter .m_issue_browser {display:block;}
	.newsletter .issue_browser {display:none;}
	.newsletter .lead_story img {display:none;}
	
	/*title image */
	.pageHeader img {display: none;}
	.pageHeader.rwd {display: block;}
	.hero-feature {background-color:#005499; padding:20px 25px; color:#fff;} 
	.hero-title {font-size:2em;}
	.hero-desc {display:none;}
	.titleImage.hero .titleWrap {position:relative; width:100%; height:auto;}
	.titleImage.hero hgroup{position:relative; width: 100%; top:0; left:0; padding:30px 0 10px;}	
	.white-text .titleImage.hero .titleWrap {background-color: rgba(40, 40, 40, 1);}
	
	.embed-container.slide, .three_col_a .embed-container.slide {padding-bottom:88%;}
	
	/* feature-rich items */
	.featureRichItem .slider .container{background-color:#F1F1F1;}
	.featureRichItem .slider .sliderItem{left:0; width:100%;}
	.featureRichItem .slider .navButton img {bottom:270px;}
	.carousel .carouselDesc {height:100px; bottom:-100px; opacity:1; font-size:0.96em; line-height:1.16em;}
	.carousel .navIndicator, .carousel .carouselWrap  .btnPausePlay {bottom:-124px;}
	.staticGallery .sg_tc.cover  img{width: 86%; padding: 0 7%;}

	.three_col_a .twoCol_content .sectionA, .three_col_a .twoCol_content .sectionB, .two_col_b.split .twoCol_content .sectionA, .two_col_b.split .twoCol_content .sectionB  {width:100%; padding:0;margin-bottom:15px;}	
	
	.two_col_c.bio .content .topcontent div.bluebg {text-align:center;}
	.two_col_c.bio .content .topcontent div.bluebg img {float:none;}
	.two_col_c.bio .content .topcontent div.bluebg .contentinfo {width: calc(100% - 20px);}	
	
	.productListing .value_prop .bluebg .cover {width:115px;}
	.productListing .value_prop .bluebg .cover img {width:100px; height:auto;}
	.productListing .value_prop .bluebg .right {width: calc(100% - 120px);margin-top:0;padding-right:5px;}	
	.productListing .value_prop .bluebg .cart .add .cart_btn {margin-bottom:10px;}
	.productListing .value_prop .bluebg .info .otherversion ul {clear:left;}
	.productListing .value_prop .bluebg .info .otherversion ul li:first-child  {padding-left:0;}
	.out_of_stock {padding:10px 8px 8px 30px;}
	
	.one_col_a .threeCol_content .oneThird.middle,
	.one_col_a .threeCol_content .oneThird.last {width: 100%; padding-left: 0; padding-right: 0;}
	.one_col_a .rtcol.withad .listBoxModule:first-child {padding-left: 20px;}
	
	.twoPerRow .module,.threePerRow .module,.fourPerRow .module {width: 100%; margin-left: 0; margin-right: 0;}
	.iconWidgetborder {border: none;}
	.iconWidget.onePerRow .module,
	.iconWidget.twoPerRow .module,
	.iconWidget.threePerRow .module,
	.iconWidget.fourPerRow .module {margin-bottom: 15px;}   
	.iconWidget .module .body {padding: 10px 20px 10px 25px;}
	.boxWidget.fourPerRow .module {width:100%; margin-left:0; margin-right:0;}
	.boxWidget.fourPerRow figure.full img {width: 100%;}
	.tileWidget.twoPerRow .module, .tileWidget.fourPerRow .module {width: 100%; margin-left: 0; margin-right: 0;} 
	.tileWidget.threePerRow figure {width:100%; padding-right:0;}
	.tileWidget.threePerRow .desc {width:100%;padding-left:0;}
    .dynamic .tileWidget.fourPerRow .module {width: calc(50% - 10px); margin-left:10px; margin-right:10px;}
	.dynamic .tileWidget.fourPerRow .module:nth-child(odd){margin-left: 0px;}
	.dynamic .tileWidget.fourPerRow .module:nth-child(even){margin-right: 0px;}

	.calloutWidget { margin: 0 5px; } 
	.calloutWidget .callout {font-size: 1em; padding:10px 10px 10px 30px;} 
	.calloutWidget .callout:before {left:5px; top:25px;}
	.calloutWidget figure { width: 100%; margin-top:10px; } 
	.calloutWidget figure ~ .quoteWrap { width: 100%;} 
	.calloutWidget .quoteWrap.twitter .callout {padding:10px 10px 10px 30px; }	
}

@media screen and (max-width: 405px){ 
	.featureRichItem .slider .container{height:390px;}
	.featureRichItem .slider .slideDesc {font-size:0.96em;}	
	.featureRichItem .slider .navButton img {bottom:250px;}
	.horizontalGallery h2 {width:100%;}
	.horizontalGallery .navSummry {display:none;}
}

/* for caousels and sliders */
@media screen and (max-width: 767px){
	.device-ios .carousel .navButton img, .device-android .carousel .navButton img,
	.device-ios .slider .navButton img, .device-android .slider .navButton img {display: none;}
}