.clear
{
   float: none;
   clear: both;
}
.line
{
   border-top: 1px solid;
}
img
{
   border: 0px;
}
body
{
   margin-left: 80px;
   margin-right: 80px;
   font-family: Georgia, serif;
   color: #3C3C3C;
   font-size: 16px;
   line-height: 140%;
}
a
{
   color: #6C2C2C;
}
h1
{
  font-size: 28px;
  line-height: 42px;
}
h2
{
  font-size: 25px;
  line-height: 27px;
}
h3
{
  font-size: 20px;
  line-height: 22px;
}
h4
{
  font-size: 18px;
  line-height: 20px;
}
h5
{
  font-size: 16px;
  line-height: 18px;
}
.left
{
   float: left;
   text-align: left;
}
.right
{
   float: right;
   text-align: right;
}
.title
{
   font-weight: bold;
   text-transform: capitalize;
   margin-bottom: 20px;
}
.title > a
{
   color: #3C3C3C;
   text-decoration: none;
   font-size: 40px;
}
.entryTitle
{
   font-size:30px;
   margin-bottom: 5px;
}
.entryTitle > a
{
   color: #1a1a1a;
   text-decoration: none;
}
.entryTagline
{
  margin-top: 5px;
   font-size: 100%;
}
.entryContent
{
   text-align: justify;
}
.entryFooter
{
   font-family: monospace;
   font-size: 12px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px dotted;
   border-bottom: 1px dotted;
   text-align: right;
   margin-bottom: 20px;
}
#footer
{
   text-align: center;
}
.quote
{
  float: right;
  text-align: right;
  max-width: 300px;
}
