<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebPage">
<head>
<meta charset="UTF-8" />
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="https://www.eng.hawaii.edu/xmlrpc.php">
<title>Hawaiʻi Engineering</title>
<meta name='robots' content='noindex,follow' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="Total WordPress Theme 4.2.1" />
<link rel='dns-prefetch' href='//s0.wp.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Hawaiʻi Engineering &raquo; Feed" href="https://www.eng.hawaii.edu/feed/" />
<link rel="alternate" type="application/rss+xml" title="Hawaiʻi Engineering &raquo; Comments Feed" href="https://www.eng.hawaii.edu/comments/feed/" />
<link rel="alternate" type="text/calendar" title="Hawaiʻi Engineering &raquo; iCal Feed" href="https://www.eng.hawaii.edu/events/?ical=1" />
<link rel='stylesheet' id='layerslider-css'  href='https://www.eng.hawaii.edu/wp-content/plugins/LayerSlider/static/layerslider/css/layerslider.css?ver=6.4.0' type='text/css' media='all' />
<link rel='stylesheet' id='ls-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Oswald:regular%7COpen+Sans:300,400%7CSource+Sans+Pro:regular%7CQuicksand:300,regular,500,700%7CRoboto+Condensed:300,300italic,regular,italic,700,700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css'  href='https://www.eng.hawaii.edu/wp-includes/css/dist/block-library/style.min.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='ssb-ui-style-css'  href='https://www.eng.hawaii.edu/wp-content/plugins/sticky-side-buttons/assets/css/ssb-ui-style.css?ver=5.1.1' type='text/css' media='all' />
<style id='ssb-ui-style-inline-css' type='text/css'>
#ssb-btn-0{background: #31383f;}
#ssb-btn-0:hover{background:rgba(49,56,63,0.9);}
#ssb-btn-0 a{color: #ffffff;}
.ssb-share-btn,.ssb-share-btn .ssb-social-popup{background:#31383f;color:#ffffff}.ssb-share-btn:hover{background:rgba(49,56,63,0.9);}.ssb-share-btn a{color:#ffffff !important;}#ssb-btn-1{background: #31383f;}
#ssb-btn-1:hover{background:rgba(49,56,63,0.9);}
#ssb-btn-1 a{color: #ffffff;}
#ssb-btn-2{background: #31383f;}
#ssb-btn-2:hover{background:rgba(49,56,63,0.9);}
#ssb-btn-2 a{color: #ffffff;}

</style>
<link rel='stylesheet' id='ssb-fontawesome-css'  href='https://www.eng.hawaii.edu/wp-content/plugins/sticky-side-buttons/assets/css/font-awesome.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpex-style-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/style.css?ver=4.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpex-google-font-roboto-condensed-css'  href='//fonts.googleapis.com/css?family=Roboto+Condensed%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic&#038;subset=latin&#038;ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpex-google-font-oswald-css'  href='//fonts.googleapis.com/css?family=Oswald%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic&#038;subset=latin&#038;ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpex-tribe-events-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/css/wpex-tribe-events.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpex-layerslider-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/css/wpex-layerslider.css?ver=4.2.1' type='text/css' media='all' />
<!--[if IE 8]>
<link rel='stylesheet' id='wpex-ie8-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/css/wpex-ie8.css?ver=4.2.1' type='text/css' media='all' />
<![endif]-->
<!--[if IE 9]>
<link rel='stylesheet' id='wpex-ie9-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/css/wpex-ie9.css?ver=4.2.1' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='wpex-responsive-css'  href='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/css/wpex-responsive.css?ver=4.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='social-logos-css'  href='https://www.eng.hawaii.edu/wp-content/plugins/jetpack/_inc/social-logos/social-logos.min.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css'  href='https://www.eng.hawaii.edu/wp-content/plugins/jetpack/css/jetpack.css?ver=7.1.1' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var LS_Meta = {"v":"6.4.0"};
/* ]]> */
</script>
<script type='text/javascript' data-cfasync="false" src='https://www.eng.hawaii.edu/wp-content/plugins/LayerSlider/static/layerslider/js/greensock.js?ver=1.19.0'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' data-cfasync="false" src='https://www.eng.hawaii.edu/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquery.js?ver=6.4.0'></script>
<script type='text/javascript' data-cfasync="false" src='https://www.eng.hawaii.edu/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitions.js?ver=6.4.0'></script>
<script type='text/javascript' data-cfasync="false" src='https://www.eng.hawaii.edu/wp-content/uploads/layerslider.custom.transitions.js?ver=6.4.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ssb_ui_data = {"z_index":"80"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/plugins/sticky-side-buttons/assets/js/ssb-ui-js.js?ver=5.1.1'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/js/dynamic/html5.js?ver=4.2.1'></script>
<![endif]-->
<meta name="generator" content="Powered by LayerSlider 6.4.0 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress." />
<!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
<link rel='https://api.w.org/' href='https://www.eng.hawaii.edu/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.eng.hawaii.edu/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.eng.hawaii.edu/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.1.1" />
<link rel="canonical" href="https://www.eng.hawaii.edu/" />
<link rel='shortlink' href='https://wp.me/P8NEVB-1OA' />
<link rel="alternate" type="application/json+oembed" href="https://www.eng.hawaii.edu/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.eng.hawaii.edu%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.eng.hawaii.edu/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.eng.hawaii.edu%2F&#038;format=xml" />
<meta name="tec-api-version" content="v1"><meta name="tec-api-origin" content="https://www.eng.hawaii.edu"><link rel="https://theeventscalendar.com/" href="https://www.eng.hawaii.edu/wp-json/tribe/events/v1/" />
<link rel='dns-prefetch' href='//v0.wordpress.com'/>
<link rel='dns-prefetch' href='//i0.wp.com'/>
<link rel='dns-prefetch' href='//i1.wp.com'/>
<link rel='dns-prefetch' href='//i2.wp.com'/>
<style type='text/css'>img#wpstats{display:none}</style><meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Hawaiʻi Engineering" />
<meta property="og:url" content="https://www.eng.hawaii.edu/" />
<meta property="og:site_name" content="Hawaiʻi Engineering" />
<meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:text:title" content="Hawaiʻi Engineering" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Visit the post for more." />

<!-- End Jetpack Open Graph Tags -->
			<style type="text/css" id="wp-custom-css">
				#ssb-container{top:25%}#ssb-container ul li span{line-height:35px;width:10px;text-align:center;display:inline-block}#ssb-container ul li a{padding:0 15px 0 0;display:block;line-height:35px;text-align:left;white-space:normal;text-decoration:none}.thn_post_wrap table td,.org_comment table td{padding:10px;text-align:center}			</style>
		
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/plugins/wp-spamshield/js/jscripts.php'></script> 
<style type="text/css" data-type="wpex-css" id="wpex-css">/*ACCENT COLOR*/a,.wpex-accent-color,#site-navigation .dropdown-menu a:hover,#site-navigation .dropdown-menu >.current-menu-item >a,#site-navigation .dropdown-menu >.current-menu-parent >a,h1 a:hover,h2 a:hover,a:hover h2,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.entry-title a:hover,.modern-menu-widget a:hover,.theme-button.outline,.theme-button.clean{color:#2c8e3e}.wpex-accent-bg,.background-highlight,input[type="submit"],.theme-button,button,.theme-button.outline:hover,.active .theme-button,.theme-button.active,#main .tagcloud a:hover,.post-tags a:hover,.wpex-carousel .owl-dot.active,.navbar-style-one .menu-button >a >span.link-inner,.wpex-carousel .owl-prev,.wpex-carousel .owl-next,body #header-two-search #header-two-search-submit,.theme-button:hover,.modern-menu-widget li.current-menu-item a,#sidebar .widget_nav_menu .current-menu-item >a,#wp-calendar caption,#site-scroll-top:hover,input[type="submit"]:hover,button:hover,.wpex-carousel .owl-prev:hover,.wpex-carousel .owl-next:hover,#site-navigation .menu-button >a >span.link-inner,#site-navigation .menu-button >a >span.link-inner:hover,.navbar-style-six .dropdown-menu >.current-menu-item >a,.navbar-style-six .dropdown-menu >.current-menu-parent >a,#tribe-events .tribe-events-button,#tribe-events .tribe-events-button:hover,#tribe_events_filters_wrapper input[type=submit],.tribe-events-button,.tribe-events-button.tribe-active:hover,.tribe-events-button.tribe-inactive,.tribe-events-button:hover,.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,#my-events .button,#my-events .button:hover,#add-new .button,#add-new .button:hover,.table-menu-btn,.table-menu-btn:hover{background-color:#2c8e3e}.theme-button.outline{border-color:#2c8e3e}#searchform-dropdown{border-color:#2c8e3e}.toggle-bar-btn:hover{border-top-color:#2c8e3e;border-right-color:#2c8e3e}body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu >li >ul{border-top-color:#2c8e3e}.theme-heading.border-w-color span.text{border-bottom-color:#2c8e3e}/*BORDER COLOR*//*BORDER COLOR*/.theme-heading span.text:after,#comments .comment-body,.centered-minimal-page-header,.theme-heading.border-w-color,#top-bar-wrap,.blog-entry.large-image-entry-style,.blog-entry.grid-entry-style .blog-entry-inner,.entries.left-thumbs .blog-entry.thumbnail-entry-style,.cpt-entry.span_1_of_1,ul .page-numbers a,a.page-numbers,span.page-numbers,.post-pagination,#main .wpex-widget-recent-posts-li:first-child,#main .widget_categories li:first-child,#main .widget_recent_entries li:first-child,#main .widget_archive li:first-child,#main .widget_recent_comments li:first-child,#main .widget_product_categories li:first-child,#main .widget_layered_nav li:first-child,#main .widget-recent-posts-icons li:first-child,#main .site-footer .widget_nav_menu li:first-child,#main .wpex-widget-recent-posts-li,#main .widget_categories li,#main .widget_recent_entries li,#main .widget_archive li,#main .widget_recent_comments li,#main .widget_product_categories li,#main .widget_layered_nav li,#main .widget-recent-posts-icons li,#main .site-footer .widget_nav_menu li,.modern-menu-widget,.modern-menu-widget li,.modern-menu-widget li ul,#sidebar .widget_nav_menu a,#sidebar .widget_nav_menu ul >li:first-child >a,.vcex-divider-solid,.vcex-blog-entry-details,.theme-button.minimal-border,.vcex-login-form,.vcex-recent-news-entry{border-color:#ffffff}/*TYPOGRAPHY*/body{font-family:"Roboto Condensed";font-weight:400;font-style:normal;font-size:16px;color:#000000}#top-bar-content{font-family:"Oswald";font-style:normal;font-size:15px}#site-navigation .dropdown-menu a{font-family:"Oswald";font-weight:400;font-size:16px}#site-navigation .dropdown-menu ul a{font-family:"Roboto Condensed";font-weight:500;font-style:normal;font-size:14px;text-transform:uppercase}.blog-entry-title.entry-title a,.blog-entry-title.entry-title a:hover{font-size:18px}h1,h2,h3,h4,h5,h6,.theme-heading,.page-header-title,.heading-typography,.widget-title,.wpex-widget-recent-posts-title,.comment-reply-title,.vcex-heading,.entry-title,.sidebar-box .widget-title,.search-entry h2{font-family:"Oswald";font-weight:400;font-style:normal;color:#000000}.entry h1{font-family:"Oswald";font-weight:400;font-style:normal;font-size:26px;color:#0a0a0a;text-transform:uppercase}.entry h2{font-family:"Oswald";font-weight:400;font-style:normal;font-size:20px;color:#000000}/*Logo Height*/#site-logo img{max-height:55px}/*ADVANCED STYLING CSS*/.is-sticky #site-header{border-color:transparent}/*CUSTOMIZER STYLING*/@media only screen and (min-width:960px){#site-logo img{max-width:300px}}@media only screen and (min-width:768px) and (max-width:959px){#site-logo img{max-width:150px}}@media only screen and (max-width:767px){#site-logo img{max-width:100px}}a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.entry-title a:hover,.woocommerce .woocommerce-error a.button,.woocommerce .woocommerce-info a.button,.woocommerce .woocommerce-message a.button{color:#068432}a:hover{color:#001df9}#site-header{background-color:#005627}#site-header-sticky-wrapper{background-color:#005627}#site-header-sticky-wrapper.is-sticky #site-header{background-color:#005627}.footer-has-reveal #site-header{background-color:#005627}#searchform-header-replace{background-color:#005627}body.wpex-has-vertical-header #site-header{background-color:#005627}#site-header-inner{padding-top:10px;padding-bottom:5px}#site-header.overlay-header #site-header-inner{padding-top:10px;padding-bottom:5px}#site-logo{padding-bottom:5px}.shrink-sticky-header #site-logo img{max-height:60px!important}.wpex-sticky-header-holder.is-sticky #site-header{opacity:1}#site-navigation .dropdown-menu >li >a{color:#ffffff}#site-navigation .dropdown-menu >li >a:hover{color:#00ad56}#site-header #site-navigation .dropdown-menu ul{background-color:#005627;border-color:#00752e}#site-header #site-navigation .dropdown-menu ul li{border-color:#00752e}#site-header #site-navigation .dropdown-menu ul li a{border-color:#00752e}#site-header #site-navigation .dropdown-menu ul >li >a{color:#ffffff}#site-header #site-navigation .dropdown-menu ul >li >a:hover{background-color:#009e39}#sidebar .widget-title{background-color:#606060}.entries.left-thumbs .blog-entry .entry-media{width:25%}.entries.left-thumbs .blog-entry .entry-details{width:74%}#footer{background-color:#278260}#footer-bottom{background:#005627;color:#ffffff}#footer-bottom p{color:#ffffff}#footer-bottom a{color:#f9f9f9}#footer-bottom a:hover{color:#91f900}</style></head>

<!-- Begin Body -->
<body class="home page-template-default page page-id-6980 wp-custom-logo tribe-no-js tribe-bar-is-disabled wpex-theme wpex-responsive full-width-main-layout no-composer wpex-live-site content-full-width hasnt-overlay-header page-header-disabled page-with-slider has-post-slider post-slider-below-title smooth-fonts wpex-mobile-toggle-menu-navbar has-mobile-menu comment-avatars-disabled">


<a href="#content" class="skip-to-content local-scroll-link">skip to Main Content</a><span data-ls_id="#site_top"></span>
	
	<div id="wpex-mobile-menu-navbar" class="clr wpex-mobile-menu-toggle wpex-hidden">
		<div class="container clr">
			<a href="#mobile-menu" class="mobile-menu-toggle" title="Menu">
				<span class="fa fa-navicon"></span><span class="wpex-text">Menu</span>
			</a>
		</div><!-- .container -->
	</div><!-- #wpex-mobile-menu-navbar -->


<div id="outer-wrap" class="clr">

	
	<div id="wrap" class="clr">

		

<header id="site-header" class="header-one dyn-styles clr" itemscope="itemscope" itemtype="http://schema.org/WPHeader" role="banner">

	
	<div id="site-header-inner" class="container clr">

		
<div id="site-logo" class="site-branding clr header-one-logo">
	<div id="site-logo-inner" class="clr">
									<a href="https://www.eng.hawaii.edu/" title="Hawaiʻi Engineering" rel="home" class="main-logo"><img src="https://www.eng.hawaii.edu/wp-content/uploads/2018/11/CoElogo.white_.png" alt="Hawaiʻi Engineering" class="logo-img" data-no-retina /></a>
											</div><!-- #site-logo-inner -->
</div><!-- #site-logo -->
	
	<div id="site-navigation-wrap" class="navbar-style-one wpex-dropdowns-caret clr">

		<nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation" aria-label="Primary Menu">

			
				<ul id="menu-main" class="dropdown-menu sf-menu"><li id="menu-item-6960" class="ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-6960"><a href="https://www.eng.hawaii.edu"><span class="link-inner">HOME</span></a></li>
<li id="menu-item-9719" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9719"><a><span class="link-inner">ABOUT</span></a>
<ul class="sub-menu">
	<li id="menu-item-10032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10032"><a href="https://www.eng.hawaii.edu/about/dean/"><span class="link-inner">Dean&#8217;s Message</span></a></li>
	<li id="menu-item-10328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10328"><a href="https://www.eng.hawaii.edu/about/deanscouncil/"><span class="link-inner">The Dean&#8217;s Council</span></a></li>
	<li id="menu-item-7144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7144"><a href="https://www.eng.hawaii.edu/about/facts/"><span class="link-inner">Fast Facts</span></a></li>
	<li id="menu-item-7146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7146"><a href="https://www.eng.hawaii.edu/about/people/"><span class="link-inner">Faculty &#038; Staff</span></a></li>
	<li id="menu-item-8365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8365"><a href="https://www.eng.hawaii.edu/allevents/"><span class="link-inner">Events</span></a></li>
	<li id="menu-item-7339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7339"><a href="https://www.eng.hawaii.edu/about/publications/"><span class="link-inner">Publications</span></a></li>
	<li id="menu-item-7145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7145"><a href="https://www.eng.hawaii.edu/about/history/"><span class="link-inner">History</span></a></li>
	<li id="menu-item-9637" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9637"><a href="https://www.eng.hawaii.edu/news/"><span class="link-inner">News Archive</span></a></li>
	<li id="menu-item-6966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-6966"><a href="https://www.eng.hawaii.edu/about/contact/"><span class="link-inner">Contact ≡</span></a>
	<ul class="sub-menu">
		<li id="menu-item-10126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10126"><a href="https://www.eng.hawaii.edu/sbox/"><span class="link-inner">Suggestion Box</span></a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-9720" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9720"><a><span class="link-inner">ACADEMICS</span></a>
<ul class="sub-menu">
	<li id="menu-item-10578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10578"><a target="_blank" href="http://www.cee.hawaii.edu/"><span class="link-inner">Civil &#038; Environmental Engineering</span></a></li>
	<li id="menu-item-7740" class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7740"><a target="_blank" href="http://www.ee.hawaii.edu/"><span class="link-inner">Electrical Engineering</span></a></li>
	<li id="menu-item-10814" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10814"><a href="https://www.eng.hawaii.edu/bses/"><span class="link-inner">Engineering Science</span></a></li>
	<li id="menu-item-7741" class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7741"><a target="_blank" href="http://www.me.hawaii.edu/"><span class="link-inner">Mechanical Engineering</span></a></li>
	<li id="menu-item-7752" class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7752"><a target="_blank" href="http://hcac.hawaii.edu/"><span class="link-inner">Hawai‘i Advanced Wireless Technologies Institute</span></a></li>
</ul>
</li>
<li id="menu-item-9721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9721"><a><span class="link-inner">STUDENTS</span></a>
<ul class="sub-menu">
	<li id="menu-item-9727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9727"><a><span class="link-inner">Prospective Students ≡</span></a>
	<ul class="sub-menu">
		<li id="menu-item-9911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9911"><a href="https://www.eng.hawaii.edu/students/prospective/admit/"><span class="link-inner">Admission Requirements</span></a></li>
		<li id="menu-item-9973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9973"><a href="https://www.eng.hawaii.edu/outreach/outreachevents/"><span class="link-inner">Outreach Events</span></a></li>
		<li id="menu-item-9976" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9976"><a href="https://www.eng.hawaii.edu/outreach/summerinterns/"><span class="link-inner">Summer Internship Program</span></a></li>
	</ul>
</li>
	<li id="menu-item-9726" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9726"><a><span class="link-inner">Current Students ≡</span></a>
	<ul class="sub-menu">
		<li id="menu-item-7148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7148"><a href="https://www.eng.hawaii.edu/students/current-students/curriculum/"><span class="link-inner">Curriculum</span></a></li>
		<li id="menu-item-9729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9729"><a><span class="link-inner">Student Programs ≡</span></a>
		<ul class="sub-menu">
			<li id="menu-item-7547" class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-7547"><a target="_blank" href="https://www.eng.hawaii.edu/students/current-students/student-programs/honors/"><span class="link-inner">Honors Program</span></a></li>
			<li id="menu-item-7553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7553"><a href="https://www.eng.hawaii.edu/students/current-students/student-programs/ike/"><span class="link-inner">&#8216;Ike Program</span></a></li>
			<li id="menu-item-7552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7552"><a href="https://www.eng.hawaii.edu/students/current-students/student-programs/reu/"><span class="link-inner">Research Experience for Undergraduates</span></a></li>
		</ul>
</li>
		<li id="menu-item-9728" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9728"><a><span class="link-inner">Professional Fee Expenditures ≡</span></a>
		<ul class="sub-menu">
			<li id="menu-item-10326" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10326"><a href="https://www.eng.hawaii.edu/students/current-students/studentfees/ceefeesfy18/"><span class="link-inner">Civil &#038; Environmental Engineering Professional Fee Expenditures</span></a></li>
			<li id="menu-item-10327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10327"><a href="#"><span class="link-inner">Electrical Engineering (pending)</span></a></li>
			<li id="menu-item-10325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10325"><a href="https://www.eng.hawaii.edu/students/current-students/studentfees/mefeesfy18/"><span class="link-inner">Mechanical Engineering Professional Fee Expenditures</span></a></li>
		</ul>
</li>
		<li id="menu-item-8724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8724"><a href="https://www.eng.hawaii.edu/students/current-students/faq/"><span class="link-inner">Frequently Asked Questions</span></a></li>
		<li id="menu-item-7562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7562"><a href="https://www.eng.hawaii.edu/students/safety/"><span class="link-inner">Safety Guidelines</span></a></li>
	</ul>
</li>
	<li id="menu-item-7207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7207"><a href="https://www.eng.hawaii.edu/students/clubs/"><span class="link-inner">Student Organizations</span></a></li>
	<li id="menu-item-9424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9424"><a href="https://www.eng.hawaii.edu/scholarships/"><span class="link-inner">Scholarships</span></a></li>
	<li id="menu-item-9981" class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-9981"><a target="_blank" href="https://www.eng.hawaii.edu/nhsemp/"><span class="link-inner">Native Hawaiian Mentorship Program</span></a></li>
</ul>
</li>
<li id="menu-item-9722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9722"><a><span class="link-inner">RESEARCH</span></a>
<ul class="sub-menu">
	<li id="menu-item-7571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7571"><a href="https://www.eng.hawaii.edu/research/research-news/"><span class="link-inner">Current Projects</span></a></li>
	<li id="menu-item-7570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7570"><a href="https://www.eng.hawaii.edu/research/highlights/"><span class="link-inner">Highlights</span></a></li>
	<li id="menu-item-7160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7160"><a href="https://www.eng.hawaii.edu/research/clusters/"><span class="link-inner">Clusters</span></a></li>
	<li id="menu-item-7560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7560"><a href="https://www.eng.hawaii.edu/students/safety/"><span class="link-inner">Safety Guidelines</span></a></li>
</ul>
</li>
<li id="menu-item-9980" class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-9980"><a target="_blank" href="https://www.eng.hawaii.edu/alumni/"><span class="link-inner">ALUMNI</span></a></li>
<li id="menu-item-9724" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9724"><a><span class="link-inner">GIVING</span></a>
<ul class="sub-menu">
	<li id="menu-item-9553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9553"><a href="https://www.eng.hawaii.edu/giving/vision/"><span class="link-inner">Vision</span></a></li>
	<li id="menu-item-9554" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9554"><a href="https://www.eng.hawaii.edu/giving/ways-to-give/"><span class="link-inner">Ways to Give</span></a></li>
</ul>
</li>
<li id="menu-item-9725" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-9725"><a><span class="link-inner">JOBS</span></a>
<ul class="sub-menu">
	<li id="menu-item-9602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9602"><a href="https://www.eng.hawaii.edu/employers/"><span class="link-inner">Opportunities for Employers</span></a></li>
	<li id="menu-item-9603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9603"><a href="https://www.eng.hawaii.edu/student-opps/"><span class="link-inner">Career Opportunities for Students</span></a></li>
	<li id="menu-item-9604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9604"><a href="https://www.eng.hawaii.edu/postjobs/"><span class="link-inner">Request to post job announcement</span></a></li>
</ul>
</li>
<li class="search-toggle-li wpex-menu-extra"><a href="#" class="site-search-toggle search-dropdown-toggle"><span class="link-inner"><span class="wpex-menu-search-text">Search</span><span class="fa fa-search" aria-hidden="true"></span></span></a></li></ul>
			
		</nav><!-- #site-navigation -->

	</div><!-- #site-navigation-wrap -->

	

<div id="searchform-dropdown" class="header-searchform-wrap clr">
	
<form method="get" class="searchform" action="https://www.eng.hawaii.edu/" role="search">
	<label>
		<span class="screen-reader-text">Search</span>
		<input type="search" class="field" name="s" placeholder="Search" />
	</label>
		<button type="submit" class="searchform-submit"><span class="fa fa-search" aria-hidden="true"></span><span class="screen-reader-text">Submit</span></button>
</form></div><!-- #searchform-dropdown -->
	</div><!-- #site-header-inner -->

	
</header><!-- #header -->


		
		<main id="main" class="site-main clr" role="main">

			
<div class="page-slider clr container">

	
	<script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script><script data-cfasync="false" type="text/javascript">
lsjQuery(document).ready(function() {
if(typeof lsjQuery.fn.layerSlider == "undefined") {
if( window._layerSlider && window._layerSlider.showNotice) { 
window._layerSlider.showNotice('layerslider_1','jquery');
}
} else {
lsjQuery("#layerslider_1").layerSlider({sliderVersion: '6.4.0', type: 'fullwidth', allowFullscreen: false, skin: 'lightskin', navPrevNext: false, hoverPrevNext: false, thumbnailNavigation: 'disabled', autoPlayVideos: false, skinsPath: 'https://www.eng.hawaii.edu/wp-content/plugins/LayerSlider/static/layerslider/skins/'});
}
});
</script><div id="layerslider_1" class="ls-wp-container fitvidsignore" style="width:1600px;height:600px;margin:0 auto;margin-bottom: 0px;"><div class="ls-slide" data-ls="bgsize:cover;bgposition:50% 50%;duration:8000;transition2d:11;kenburnsscale:1.2;"><img width="1800" height="600" src="https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/usnewsgradrankings.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="US News and World Report rankings badge over an unsaturated photo of Holmes Hall." srcset="https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/usnewsgradrankings.jpg?w=1800&amp;ssl=1 1800w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/usnewsgradrankings.jpg?resize=300%2C100&amp;ssl=1 300w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/usnewsgradrankings.jpg?resize=768%2C256&amp;ssl=1 768w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/usnewsgradrankings.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><a style="" class="ls-l" href="https://www.eng.hawaii.edu/all-uh-engineering-graduate-programs-ranked/" target="_blank" data-ls="durationin:2000;"><div style="white-space: normal;top:390px;left:2px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;font-size:50px;color:#ffffff;background:rgba(0, 0, 0, 0.7);border-radius:5px;padding-right:0px;padding-top:10px;padding-bottom:0px;padding-left:20px;width:1575px;height:100px;font-family:Oswald;" class="">All UH engineering graduate programs ranked</div></a></div><div class="ls-slide" data-ls="bgposition:50% 50%;duration:8000;transition2d:11;kenburnsscale:1.2;"><img width="1800" height="600" src="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/cdays19.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="Students and recruiters interacting at career fair in Campus Center ballroom." srcset="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/cdays19.jpg?w=1800&amp;ssl=1 1800w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/cdays19.jpg?resize=300%2C100&amp;ssl=1 300w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/cdays19.jpg?resize=768%2C256&amp;ssl=1 768w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/cdays19.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><a style="" class="ls-l" href="https://www.eng.hawaii.edu/cdays19/" target="_self"><div style="white-space: normal;top:390px;left:2px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;font-family:Oswald;padding-top:10px;padding-bottom:0px;padding-left:20px;color:#ffffff;background:rgba(0, 0, 0, 0.7);border-radius:5px;width:1575px;height:100px;font-size:50px;padding-right:0px;" class="">Spring 2019 Career Fair</div></a></div><div class="ls-slide" data-ls="bgposition:50% 50%;duration:8000;transition2d:11;kenburnsscale:1.2;parallaxevent:scroll;parallaxaxis:none;"><img width="1800" height="600" src="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/bses2.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="A montage of a rocket test, DNA helix, and handwritten equations." srcset="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/bses2.jpg?w=1800&amp;ssl=1 1800w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/bses2.jpg?resize=300%2C100&amp;ssl=1 300w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/bses2.jpg?resize=768%2C256&amp;ssl=1 768w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/03/bses2.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><a style="" class="ls-l" href="https://www.eng.hawaii.edu/bses-news/" target="_self"><div style="white-space: normal;top:390px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;font-family:Oswald;font-size:50px;padding-right:0px;color:#ffffff;left:2px;width:1575px;height:100px;padding-top:10px;padding-bottom:0px;padding-left:20px;background:rgba(0, 0, 0, 0.7);border-radius:5px;" class="">College launches new Engineering Science program</div></a></div><div class="ls-slide" data-ls="bgposition:50% 50%;duration:8000;transition2d:11;kenburnsscale:1.2;"><img width="1800" height="600" src="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/bmorioka.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="Portrait of Dr. Morioka over an image of Holmes Hall." srcset="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/bmorioka.jpg?w=1800&amp;ssl=1 1800w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/bmorioka.jpg?resize=300%2C100&amp;ssl=1 300w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/bmorioka.jpg?resize=768%2C256&amp;ssl=1 768w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/bmorioka.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><a style="" class="ls-l" href="https://www.eng.hawaii.edu/newdean/" target="_self"><div style="white-space: normal;top:390px;left:2px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;width:1575px;height:100px;padding-top:10px;padding-right:0px;padding-bottom:0px;padding-left:20px;font-family:Oswald;font-size:50px;color:#ffffff;background:rgba(0, 0, 0, 0);border-radius:5px;" class="">Dr. Brennon Morioka named new dean for the College of Engineering</div></a></div><div class="ls-slide" data-ls="bgposition:50% 50%;duration:8000;transition2d:11;kenburnsscale:1.2;"><img width="1800" height="600" src="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/pgasman.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="Action shot of Patrick Gasman spiking volleyball." srcset="https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/pgasman.jpg?w=1800&amp;ssl=1 1800w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/pgasman.jpg?resize=300%2C100&amp;ssl=1 300w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/pgasman.jpg?resize=768%2C256&amp;ssl=1 768w, https://i1.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/pgasman.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><a style="" class="ls-l" href="https://www.eng.hawaii.edu/gasman/" target="_blank"><div style="white-space: normal;top:390px;left:2px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;width:1575px;height:100px;padding-top:10px;padding-right:0px;padding-bottom:0px;padding-left:20px;font-family:Oswald;font-size:50px;color:#ffffff;background:rgba(0, 0, 0, 0.7);border-radius:5px;" class="">UH ME student and volleyball player Patrick Gasman featured in Star-Advertiser</div></a><a href="https://www.eng.hawaii.edu/gasman/" target="_blank" style="white-space: normal;top:368px;left:280px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;width:1121px;height:80px;padding-right:0px;font-family:'Roboto Condensed';font-size:20px;color:#ffffff;" class="ls-l"></a></div><div class="ls-slide" data-ls="bgposition:50% 50%;duration:10000;transition2d:11;kenburnsscale:1.2;"><img width="1800" height="600" src="https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/DToba.jpg?fit=1800%2C600&amp;ssl=1" class="ls-bg" alt="DToba" srcset="https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/DToba.jpg?w=1800&amp;ssl=1 1800w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/DToba.jpg?resize=300%2C100&amp;ssl=1 300w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/DToba.jpg?resize=768%2C256&amp;ssl=1 768w, https://i0.wp.com/www.eng.hawaii.edu/wp-content/uploads/2019/02/DToba.jpg?resize=1024%2C341&amp;ssl=1 1024w" sizes="(max-width: 1800px) 100vw, 1800px" /><div style="white-space: normal;top:92px;left:40px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;wordwrap:true;opacity:1;font-size:28px;width:896px;height:371px;font-family:'Roboto Condensed';background:rgba(0, 0, 0, 0.6);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;" class="ls-l"><em><span style="color: #ffffff;">"Ronald N. S. Ho &amp; Associates, Inc. relies very heavily on the University of Hawaiʻi, particularly the College of Engineering, to provide well educated graduates that we can bring into our company. Being an Employee Stock Ownership Plan (ESOP) company we have a duty to our fellow employees to hire productive people. Our experience is that graduates from UH CoE have the potential to be some of our best engineers. Therefore I like to think that my donations are actually an investment in the future of our Company. Plus it feels good to give back to my alma mater of which I am so very proud of."</span></em>
<p style="text-align: right; font-size: 25px;"><span style="color: #ffffff;">-Dennis Toba, V.P., P.E., LEED-AP</span><br><span style="font-size: 20px; color: #ffffff;">Ronald N.S. Ho &amp; Associates, Inc.</span></p>
</div></div></div>
</div><!-- .page-slider -->


	<div id="content-wrap" class="container clr">

		
		<div id="primary" class="content-area clr">

			
			<div id="content" class="site-content clr">

				
				
<article id="single-blocks" class="single-page-article wpex-clr">

	
<div class="single-page-content entry clr"><div style="overflow-x: auto;">
<table style="height: 200px; width: 100%;">
<tbody>
<tr style="height: 16px;">
<td style="height: 16px;" colspan="5">
<h1 style="text-align: center;">OUR VISION</h1>
<p style="text-align: center;"><em>Transform Lives<br />
Improve Society</em></p>
<p style="text-align: center;">The College of Engineering at the University of Hawaiʻi is dedicated to world-class education and research. We produce the entrepreneurial and innovative human and intellectual capital required to be competitive in an increasingly technological and global society. Through our graduates and our research, we provide people and discoveries to transform lives and to support vibrant, knowledge-based economies. We are inspired by the principles of sustainability and resilience, flavored by our unique island environment.</p>
</td>
</tr>
<tr style="height: 16px;">
<td style="height: 16px;" colspan="2"></td>
<td style="height: 16px;"></td>
<td style="height: 16px;" colspan="2"></td>
</tr>
<tr style="height: 12px;">
<td style="width: 40%; height: 12px; text-align: center;" colspan="2">
<h1>Events</h1>
</td>
<td style="width: 10%; height: 12px;"></td>
<td style="width: 40%; height: 12px; text-align: center;" colspan="2">
<h1>News</h1>
</td>
</tr>
<tr style="height: 48px;">
<td style="width: 42.5%; height: 48px; padding-left: 30px; text-align: left; vertical-align: top;"><ul class="ecs-event-list"><li class="ecs-event"><h4 class="entry-title summary"><a href="https://www.eng.hawaii.edu/event/b19/" rel="bookmark">19th Annual College of Engineering Banquet</a></h4><span class="duration time"><span class="tribe-event-date-start">April 25 @ 5:00 pm</span> - <span class="tribe-event-time">9:00 pm</span></span><span class="duration venue"><em> at </em>Hawai&#8217;i Convention Center</span></li><li class="ecs-event"><h4 class="entry-title summary"><a href="https://www.eng.hawaii.edu/event/golf/" rel="bookmark">42nd Annual University of Hawaii Engineering Alumni Golf Tournament</a></h4><span class="duration time"><span class="tribe-event-date-start">July 19</span></span><span class="duration venue"><em> at </em>Pearl Country Club</span></li><li class="ecs-event"><h4 class="entry-title summary"><a href="https://www.eng.hawaii.edu/event/isogcas2020/" rel="bookmark">IUTAM Symposium on Optimal Guidance and Control for Autonomous Systems</a></h4><span class="duration time"><span class="tribe-event-date-start">March 19, 2020</span> - <span class="tribe-event-date-end">March 21, 2020</span></span></li></ul><script type="application/ld+json">
[{"@context":"http://schema.org","@type":"Event","name":"19th Annual College of Engineering Banquet","description":"&lt;p&gt;The College of Engineering invites you to an evening with students, faculty, alumni, and friends to honor their achievements in academic and research excellence and outstanding service and leadership. Schedule 5:00 pm - Student/Faculty Exhibits and No-Host Cocktails VIP Reception&hellip;&lt;/p&gt;\\n","url":"https://www.eng.hawaii.edu/event/b19/","startDate":"2019-04-25T17:00:00-10:00","endDate":"2019-04-25T21:00:00-10:00","location":{"@type":"Place","name":"Hawai&#8217;i Convention Center","description":"","url":false,"address":{"@type":"PostalAddress"},"telephone":"","sameAs":""}},{"@context":"http://schema.org","@type":"Event","name":"42nd Annual University of Hawaii Engineering Alumni Golf Tournament","description":"&lt;p&gt;Details will be posted here as they become available.&lt;/p&gt;\\n","url":"https://www.eng.hawaii.edu/event/golf/","startDate":"2019-07-19T00:00:00-10:00","endDate":"2019-07-19T00:00:00-10:00","location":{"@type":"Place","name":"Pearl Country Club","description":"","url":false,"address":{"@type":"PostalAddress","streetAddress":"93-535 Kaonohi St.","addressLocality":"\u02bbAiea","addressRegion":"HI","postalCode":"96701","addressCountry":"United States"},"telephone":"","sameAs":""},"organizer":{"@type":"Person","name":"Engineering Alumni Association of the University of Hawai\u02bbi","description":"","url":false,"telephone":"","email":"uh&#97;lu&#109;n&#105;&#46;org&#47;&#101;&#97;auh","sameAs":""}},{"@context":"http://schema.org","@type":"Event","name":"IUTAM Symposium on Optimal Guidance and Control for Autonomous Systems","description":"&lt;p&gt;According to Dr. Dilmurat Azimov--Associate Professor of Mechanical Engineering and author of the proposal--the ISOGCAS 2020 intends to bring together leading scientists, experts and engineers engaged in the development and application of novel concepts, theories and methods of optimal guidance&hellip;&lt;/p&gt;\\n","url":"https://www.eng.hawaii.edu/event/isogcas2020/","startDate":"2020-03-19T00:00:00-10:00","endDate":"2020-03-21T23:59:59-10:00"}]
</script><!--
 Event listing powered by The Events Calendar Shortcode
 https://eventcalendarnewsletter.com/the-events-calendar-shortcode/ 
--></td>
<td style="width: 2.5%; height: 48px; text-align: left; vertical-align: top;"></td>
<td style="width: 10%; height: 48px;"></td>
<td style="width: 42.5%; height: 48px; padding-left: 30px; text-align: left; vertical-align: top;"><ul>	<li><a href='https://www.eng.hawaii.edu/all-uh-engineering-graduate-programs-ranked/'>All UH engineering graduate programs ranked</a></li>
	<li><a href='https://www.eng.hawaii.edu/cdays19/'>Spring 2019 Career Fair</a></li>
	<li><a href='https://www.eng.hawaii.edu/bses-news/'>College launches new Engineering Science program</a></li>
	<li><a href='https://www.eng.hawaii.edu/newdean/'>Dr. Brennon Morioka named new dean for the College of Engineering</a></li>
	<li><a href='https://www.eng.hawaii.edu/gasman/'>UH ME student and volleyball player Patrick Gasman featured in Star-Advertiser</a></li>
</ul></td>
<td style="width: 2.5%; height: 48px; text-align: left; vertical-align: top;"></td>
</tr>
<tr style="height: 15px;">
<td style="width: 42.5%; height: 15px; text-align: right; vertical-align: top;"><span style="font-size: 14px;"><a href="https://www.eng.hawaii.edu/allevents/">more events&#8230;</a></span></td>
<td style="width: 2.5%; height: 15px; text-align: left; vertical-align: top;"></td>
<td style="width: 10%; height: 15px;"></td>
<td style="width: 42.5%; height: 15px; text-align: right; vertical-align: top;"><span style="font-size: 14px;"><a href="https://www.eng.hawaii.edu/news/">more news&#8230;</a></span></td>
<td style="width: 2.5%; height: 15px; text-align: left; vertical-align: top;"></td>
</tr>
</tbody>
</table>
</div>
</div>


</article><!-- #single-blocks -->
				
			</div><!-- #content -->

			
		</div><!-- #primary -->

		
	</div><!-- .container -->


            
        </main><!-- #main-content -->
                
        
        




<div id="footer-bottom" class="clr textcenter">
	<div id="footer-bottom-inner" class="container clr">
		
<div id="copyright" class="clr" role="contentinfo">
	<table style="height: 76px" width="100%">
<tbody>
<tr style="height: 25px">
<td style="height: 25px;width: 317px;text-align: left;vertical-align: top">UH College of Engineering</span><br>
2540 Dole Street, Holmes Hall 240</span>
<br>Honolulu, HI 96822</span></td>
<td style="height: 25px;width: 276px;text-align: left;vertical-align: top"><strong>Phone</strong> (808) 956-7727<br>
<strong>Fax</strong> (808) 956-2291
</span><br><br><strong>Interim Dean</strong> H. Ronald Riggs</span></td>
<td style="width: 299px;height: 25px;vertical-align: top"><a href="https://manoa.hawaii.edu" target="_blank">     <img src="https://www.eng.hawaii.edu/wp-content/uploads/2017/11/UHMlogo150.png" alt="University of Hawaii at Manoa logo"></td>
</tr>
</tbody>
</table></a><br><br><a href="http://www.hawaii.edu/offices/eeo/policies/" target="_blank">An equal opportunity/affirmative action institution</a> • <a href="http://www.hawaii.edu/policy/?action=viewPolicy&amp;policySection=ep&amp;policyChapter=2&amp;policyNumber=210" target="_blank">Use of this site implies consent with our Usage Policy</a></div><!-- #copyright -->	</div><!-- #footer-bottom-inner -->
</div><!-- #footer-bottom -->


    </div><!-- #wrap -->

    
</div><!-- .outer-wrap -->


                <div id="ssb-container"
                     class="ssb-btns-right">
                    <ul class="ssb-light-hover">
						                            <li id="ssb-btn-0">
                                <p>
                                    <a href="https://www.eng.hawaii.edu/store" target="_blank"><span class="fas "></span> CoE Apparel</a>
                                </p>
                            </li>
							                            <li id="ssb-btn-1">
                                <p>
                                    <a href="https://www.eng.hawaii.edu/donate" ><span class="fas "></span> Donate Now</a>
                                </p>
                            </li>
							                            <li id="ssb-btn-2">
                                <p>
                                    <a href="https://alapono.eng.hawaii.edu/protected/" target="_blank"><span class="fas "></span> Faculty/Staff Resources</a>
                                </p>
                            </li>
							                    </ul>
                </div>
				
<script type='text/javascript'>
/* <![CDATA[ */
r3f5x9JS=escape(document['referrer']);
hf4N='4e6dbd7878122efc791934e2ac93212a';
hf4V='dfe6e856dd8aedf7fee0e66e76aca19b';
jQuery(document).ready(function($){var e="#commentform, .comment-respond form, .comment-form, #lostpasswordform, #registerform, #loginform, #login_form, #wpss_contact_form, .wpcf7-form";$(e).submit(function(){$("<input>").attr("type","hidden").attr("name","r3f5x9JS").attr("value",r3f5x9JS).appendTo(e);$("<input>").attr("type","hidden").attr("name",hf4N).attr("value",hf4V).appendTo(e);return true;});$("#comment").attr({minlength:"15",maxlength:"15360"})});
/* ]]> */
</script> 
		<script>
		( function ( body ) {
			'use strict';
			body.className = body.className.replace( /\btribe-no-js\b/, 'tribe-js' );
		} )( document.body );
		</script>
			<div style="display:none">
	</div>

<div id="mobile-menu-alternative" class="wpex-hidden">
    <div class="menu-main-container"><ul id="menu-main-1" class="dropdown-menu"><li class="ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-6960"><a href="https://www.eng.hawaii.edu">HOME</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9719"><a>ABOUT</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10032"><a href="https://www.eng.hawaii.edu/about/dean/">Dean&#8217;s Message</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10328"><a href="https://www.eng.hawaii.edu/about/deanscouncil/">The Dean&#8217;s Council</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7144"><a href="https://www.eng.hawaii.edu/about/facts/">Fast Facts</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7146"><a href="https://www.eng.hawaii.edu/about/people/">Faculty &#038; Staff</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8365"><a href="https://www.eng.hawaii.edu/allevents/">Events</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7339"><a href="https://www.eng.hawaii.edu/about/publications/">Publications</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7145"><a href="https://www.eng.hawaii.edu/about/history/">History</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9637"><a href="https://www.eng.hawaii.edu/news/">News Archive</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6966"><a href="https://www.eng.hawaii.edu/about/contact/">Contact ≡</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10126"><a href="https://www.eng.hawaii.edu/sbox/">Suggestion Box</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9720"><a>ACADEMICS</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10578"><a target="_blank" href="http://www.cee.hawaii.edu/">Civil &#038; Environmental Engineering</a></li>
	<li class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7740"><a target="_blank" href="http://www.ee.hawaii.edu/">Electrical Engineering</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10814"><a href="https://www.eng.hawaii.edu/bses/">Engineering Science</a></li>
	<li class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7741"><a target="_blank" href="http://www.me.hawaii.edu/">Mechanical Engineering</a></li>
	<li class="ppr-new-window ppr-rewrite menu-item menu-item-type-post_type menu-item-object-page menu-item-7752"><a target="_blank" href="http://hcac.hawaii.edu/">Hawai‘i Advanced Wireless Technologies Institute</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9721"><a>STUDENTS</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9727"><a>Prospective Students ≡</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9911"><a href="https://www.eng.hawaii.edu/students/prospective/admit/">Admission Requirements</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9973"><a href="https://www.eng.hawaii.edu/outreach/outreachevents/">Outreach Events</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9976"><a href="https://www.eng.hawaii.edu/outreach/summerinterns/">Summer Internship Program</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9726"><a>Current Students ≡</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7148"><a href="https://www.eng.hawaii.edu/students/current-students/curriculum/">Curriculum</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9729"><a>Student Programs ≡</a>
		<ul class="sub-menu">
			<li class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-7547"><a target="_blank" href="https://www.eng.hawaii.edu/students/current-students/student-programs/honors/">Honors Program</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7553"><a href="https://www.eng.hawaii.edu/students/current-students/student-programs/ike/">&#8216;Ike Program</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7552"><a href="https://www.eng.hawaii.edu/students/current-students/student-programs/reu/">Research Experience for Undergraduates</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9728"><a>Professional Fee Expenditures ≡</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10326"><a href="https://www.eng.hawaii.edu/students/current-students/studentfees/ceefeesfy18/">Civil &#038; Environmental Engineering Professional Fee Expenditures</a></li>
			<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10327"><a href="#">Electrical Engineering (pending)</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10325"><a href="https://www.eng.hawaii.edu/students/current-students/studentfees/mefeesfy18/">Mechanical Engineering Professional Fee Expenditures</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8724"><a href="https://www.eng.hawaii.edu/students/current-students/faq/">Frequently Asked Questions</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7562"><a href="https://www.eng.hawaii.edu/students/safety/">Safety Guidelines</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7207"><a href="https://www.eng.hawaii.edu/students/clubs/">Student Organizations</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9424"><a href="https://www.eng.hawaii.edu/scholarships/">Scholarships</a></li>
	<li class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-9981"><a target="_blank" href="https://www.eng.hawaii.edu/nhsemp/">Native Hawaiian Mentorship Program</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9722"><a>RESEARCH</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7571"><a href="https://www.eng.hawaii.edu/research/research-news/">Current Projects</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7570"><a href="https://www.eng.hawaii.edu/research/highlights/">Highlights</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7160"><a href="https://www.eng.hawaii.edu/research/clusters/">Clusters</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7560"><a href="https://www.eng.hawaii.edu/students/safety/">Safety Guidelines</a></li>
</ul>
</li>
<li class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-9980"><a target="_blank" href="https://www.eng.hawaii.edu/alumni/">ALUMNI</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9724"><a>GIVING</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9553"><a href="https://www.eng.hawaii.edu/giving/vision/">Vision</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9554"><a href="https://www.eng.hawaii.edu/giving/ways-to-give/">Ways to Give</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9725"><a>JOBS</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9602"><a href="https://www.eng.hawaii.edu/employers/">Opportunities for Employers</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9603"><a href="https://www.eng.hawaii.edu/student-opps/">Career Opportunities for Students</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9604"><a href="https://www.eng.hawaii.edu/postjobs/">Request to post job announcement</a></li>
</ul>
</li>
</ul></div></div><!-- #mobile-menu-alternative -->	<script> /* <![CDATA[ */var tribe_l10n_datatables = {"aria":{"sort_ascending":": activate to sort column ascending","sort_descending":": activate to sort column descending"},"length_menu":"Show _MENU_ entries","empty_table":"No data available in table","info":"Showing _START_ to _END_ of _TOTAL_ entries","info_empty":"Showing 0 to 0 of 0 entries","info_filtered":"(filtered from _MAX_ total entries)","zero_records":"No matching records found","search":"Search:","all_selected_text":"All items on this page were selected. ","select_all_link":"Select all pages","clear_selection":"Clear Selection.","pagination":{"all":"All","next":"Next","previous":"Previous"},"select":{"rows":{"0":"","_":": Selected %d rows","1":": Selected 1 row"}},"datepicker":{"dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesMin":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Prev","currentText":"Today","closeText":"Done","today":"Today","clear":"Clear"}};var tribe_system_info = {"sysinfo_optin_nonce":"eaed55aa40","clipboard_btn_text":"Copy to clipboard","clipboard_copied_text":"System info copied","clipboard_fail_text":"Press \"Cmd + C\" to copy"};/* ]]> */ </script><script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/plugins/jetpack/_inc/build/photon/photon.min.js?ver=20130122'></script>
<script type='text/javascript' src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201911'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/jquery/ui/effect-shake.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpexLocalize = {"isRTL":"","mainLayout":"full-width","menuSearchStyle":"drop_down","siteHeaderStyle":"one","megaMenuJS":"1","superfishDelay":"600","superfishSpeed":"fast","superfishSpeedOut":"fast","hasMobileMenu":"1","mobileMenuBreakpoint":"960","mobileMenuStyle":"toggle","mobileMenuToggleStyle":"navbar","localScrollUpdateHash":"","localScrollHighlight":"1","localScrollSpeed":"1000","localScrollEasing":"easeInOutExpo","scrollTopSpeed":"1000","scrollTopOffset":"100","carouselSpeed":"150","lightboxType":"iLightbox","customSelects":".woocommerce-ordering .orderby, #dropdown_product_cat, .widget_categories select, .widget_archive select, #bbp_stick_topic_select, #bbp_topic_status_select, #bbp_destination_topic, .single-product .variations_form .variations select, .widget .dropdown_product_cat","overlaysMobileSupport":"1","responsiveDataBreakpoints":{"tl":"1024px","tp":"959px","pl":"767px","pp":"479px"},"animateMobileToggle":"1","mobileToggleMenuPosition":"afterself","altercf7Prealoader":"1","iLightbox":{"auto":false,"skin":"minimal","path":"horizontal","infinite":false,"maxScale":1,"minScale":0,"width":1400,"height":"","videoWidth":1280,"videoHeight":720,"controls":{"arrows":true,"thumbnail":true,"fullscreen":true,"mousewheel":false,"slideshow":true},"slideshow":{"pauseTime":3000,"startPaused":true},"effects":{"reposition":true,"repositionSpeed":200,"switchSpeed":300,"loadedFadeSpeed":50,"fadeSpeed":500},"show":{"title":true,"speed":200},"hide":{"speed":200},"overlay":{"blur":true,"opacity":"0.9"},"social":{"start":true,"show":"mouseenter","hide":"mouseleave","buttons":false},"text":{"close":"Press Esc to close","enterFullscreen":"Enter Fullscreen (Shift+Enter)","exitFullscreen":"Exit Fullscreen (Shift+Enter)","slideShow":"Slideshow","next":"Next","previous":"Previous"},"thumbnails":{"maxWidth":120,"maxHeight":80}}};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/themes/Total/assets/js/wpex.min.js?ver=4.2.1'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-content/plugins/wp-spamshield/js/jscripts-ftr-min.js'></script>
<script type='text/javascript' src='https://www.eng.hawaii.edu/wp-includes/js/wp-embed.min.js?ver=5.1.1'></script>
<script type='text/javascript' src='https://stats.wp.com/e-201911.js' async='async' defer='defer'></script>
<script type='text/javascript'>
	_stq = window._stq || [];
	_stq.push([ 'view', {v:'ext',j:'1:7.1.1',blog:'130046091',post:'6980',tz:'-10',srv:'www.eng.hawaii.edu'} ]);
	_stq.push([ 'clickTrackerInit', '130046091', '6980' ]);
</script>

</body>
</html>