html {
	background: rgb(100%,100%,100%);
	color: #000;
	font: 100% Arial, Verdana, Helvetica, sans-serif;
	margin: 0em 1em 0em 1em;
	border: 0px solid rgb(100%,100%,100%);
	border-width: 0px 0;
}

h1 {
	background: rgb(100%,100%,100%);
	color: #000;
	font: bold 170% Arial, Verdana, Helvetica, sans-serif;
	padding: 0.5em 0em 0.4em 0em;
	border: 0px solid rgb(100%,100%,100%);
	border-width: 0px 0;
	line-height: 1.2;
}

h2 {
	background: rgb(100%,100%,100%);
	color: #000;
	font: bold 130%/1em Arial, Verdana, Helvetica, sans-serif;
	padding: 0.4em 0em 0.1em;
	line-height: 1.2;
}

h3 {
	background: rgb(100%,100%,100%);
	color: #000;
	font: bold 110%/1em Arial, Verdana, Helvetica, sans-serif;
	padding: 0.3em 0em 0.2em; 
	line-height: 1.2;
}

h4 {
	background: rgb(100%,100%,100%);
	color: #000;
	font: bold 90%/1em Arial, Verdana, Helvetica, sans-serif;
	padding: 0.3em 0em 0.2em;
	line-height: 1.2;
}

p {
	line-height: 1.3;
	padding: 0.1em 0em;
	margin: 0em 0em 1em;
}
.important  { background-color: #ffcccc; padding: 0.6ex; border-width: 0.25ex; border-style: solid; border-color: #dd7777; }
.changed    { background-color: #ccffcc; padding: 0.6ex; border-width: 0.25ex; border-style: solid; border-color: #66cc66; }
.announce   { background-color: #d6d6ff; padding: 0.6ex; border-width: 0.25ex; border-style: solid; border-color: #8888cc; }
.award      { background-color: #ffffaa; padding: 0.6ex; border-width: 0.25ex; border-style: solid; border-color: #cccc55; }

html hr {
	color: rgb(30%,30%,30%);
	border: 1px solid rgb(30%,30%,30%);
	background-color: #fff;
	height: 1px;
	margin: 0.5em 0.0em;
}

address {
	padding: 0.5em 1em 0.5em 1em;
	font-style: normal;
	line-height: 1.5;
}

a:link {color: rgb(20%,20%,85%)}

a:visited {color: rgb(35%,30%,60%);}

a:hover {color: rgb(90%,40%,30%);}

