/*******************
STYLING STANDARD TAGS 
******************/ 
html, body { 
	background-color: #344;

	color: #000;
}

h1 {
	color: #789;
}

h2 {
	font-weight: 600;
	color: #000;
}

h3 {
	background-color: #788;

	border: 1px solid #000;
}

h4 {
	border-bottom: 3px double #777;
}

a:link, a:visited {
	color: #147;

	border-bottom: 1px dashed #258;
}

a:hover {
	border-bottom: 1px solid #258;
}

code { 
	color: #134;
}

/*******************
CLASSES
******************/ 

.image dd {
	color: #444;
}

.bigCode {
	background-color: #233;

	color: #6a8;

	border-top: 1px solid #011;
	border-left: 1px solid #011;
	border-bottom: 1px solid #455:
	border-right: 1px solid #455;
}

/*******************
CONTENT AREA
******************/
#content {
	background-color: #aaa;

	border: 1px solid #000;
}

/*******************
NAVIGATION BAR
******************/

#navbar {
	background-color: #aaa;

	border: 1px solid #000;
}

/*******************
LINK BAR
******************/

#sidebar {
	background-color: #aaa;

	border: 1px solid #000;
}
	
a.sidebar:hover {
	background-color: #788;
	border: 1px solid #000;
}


/*
     FILE ARCHIVED ON 11:28:06 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:33 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 31.956 (3)
  esindex: 0.118
  captures_list: 57.86
  CDXLines.iter: 11.098 (3)
  PetaboxLoader3.datanode: 34.678 (4)
  exclusion.robots: 0.463
  exclusion.robots.policy: 0.45
  RedisCDXSource: 10.922
  PetaboxLoader3.resolve: 34.45
  load_resource: 54.09
*/