
/********************
CONTACT FORM
*******************/
span.error { 
	font-weight: 700;
	color: #f00;
}


form {
	width: 32em;

	margin: 2em;
}

form span {
	float: left;
	width: 9em;
	text-align: right;

	padding: 2px;
	margin: 2px;
}

form .input {
	float: right;
	text-align: left;

	width: 14em;
	
	padding: 0;
	margin: 3px;
}

form .button {
	width: 8em;

	margin: 2em 2em 1em 10em;
	padding: 2px;
}

textarea .bigtext {
	padding: 0;
	margin: 5px;

	width: 30em;

	float: right;
}

/*
     FILE ARCHIVED ON 11:29:39 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:32 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 44.712 (3)
  esindex: 0.009
  captures_list: 63.714
  CDXLines.iter: 10.279 (3)
  PetaboxLoader3.datanode: 67.939 (4)
  exclusion.robots: 0.22
  exclusion.robots.policy: 0.205
  RedisCDXSource: 4.595
  PetaboxLoader3.resolve: 17.39
  load_resource: 80.791
*/