/***************
STYLE SWITCH
**************/
#styleswitcher {
	font-family: monospace;

	float: left;

	margin: 3px;
	padding: 1px;
	
	width: 100%;
}

#styleswitcher span {
	float: left;
}

#styleswitcher a, div#styleswitcher a:visited {
	color: #fa6;
	font: 1.5em serif;
	font-style: italic;
	
	margin: 1px;
	padding: 2px;
	border: 1px dashed #000;
}

#styleswitcher a.red {
	background-color: #300;

	border: 1px dashed #744;
}

#styleswitcher a.red:hover {
	background-color: #411;

	border: 1px solid #855;
}

#styleswitcher a.cyan {
	background-color: #344;
	
	border: 1px dashed #788;
}

#styleswitcher a.cyan:hover {
	background-color: #455;
	
	border: 1px solid #899;
}

/*
     FILE ARCHIVED ON 11:30:09 Jun 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:32 Mar 18, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 30.901 (3)
  esindex: 0.007
  captures_list: 48.244
  CDXLines.iter: 10.931 (3)
  PetaboxLoader3.datanode: 43.689 (4)
  exclusion.robots: 0.144
  exclusion.robots.policy: 0.134
  RedisCDXSource: 3.751
  PetaboxLoader3.resolve: 15.767
  load_resource: 35.701
*/