A:link{color:#333399;} A:visited{color:#000033;} A:active,A:hover{background:#99CCFF;}
.id,.ad,.leader,.nav,.data,.data1,.data2,.data3,.wrapper,.content,.blue,.blue1,.blue2,.blue3,.guide,.guide1,.guide2,.guide3,.hi1,.hi2,.hi3,.warning,.call,.callout,.callright,.callleft,.note,P,UL,OL,DL,DT,DD,TD,TH,SMALL,BIG,STRONG,.box,.header,H1,H2,H3,H4,H5{color:black;font-family:arial,sans-serif;}
.hi1{background:#99FFFF;} .hi2{background:#FFFF99;} .hi3{background:#CCFF99;}
BODY{margin:0px;background:#FFFFFF;}
.code{font-family:courier,serif;color:black;}
DIV.content{padding:3px;border:0px; margin-left:10%; margin-right:10%;} 
DIV.ad{border-top:1px solid silver;border-bottom:1px solid silver;padding:0px;text-align:center;background:white;}
DIV.leader{border:0px;padding:0px;text-align:center;}
DIV.wrapper{padding:0px;border:0px;}
DIV.nav{padding-left:1px;padding-right:1px;padding-top:1px;padding-bottom:5px;border:0px;text-align:center;}
DIV.id{padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:0px;border:0px;text-align:center;}
LI{margin-bottom:0.25em;margin-top:0.25em;}
DT{margin-top:0.25em;}
.warning{color:black;background-color:#FFFFCC;margin:10%;padding:10px;text-align:center;border:2px solid black;}
.callout{width:20%;padding:3px;margin:3px;border:2px solid black;float:right;}
.call{padding:3px;margin:3px;border:2px solid black;background-color:#ACFFE3;}
.callright{width:20%;float:right;}
.callleft{width:20%;float:left;}
.note{padding:3px;margin:3px;border:2px solid black;background-color:#ACFFE3;}
.box{padding:5px;margin:5px;border:1px solid #999999;}
.header{text-align:center;letter-spacing:0.4em;width:100%;font-weight:bold;padding:2px;text-transform:uppercase;}
TABLE.blue,TABLE.guide,TABLE.frame,DIV.leader,DIV.ad,DIV.nav,DIV.id{width:100%;}
TABLE.frame,TABLE.guide,TABLE.blue{border:0px;border-collapse:collapse;}
.s{border:2px outset;border-collapse:collapse;} TABLE.s{width:100%;}
TD.frame{border:0px;vertical-align:top;padding:0px;}
.guide,.guide1,.guide2,.guide3,.blue,.blue1,.blue2,.blue3,.code{border:1px solid #999999;}
SPAN.blue{border:0px;}
.code,TD.blue{vertical-align:top;padding-left:3px}
.id,.guide1,.blue1,.data1,.nav,.header{background:#ccddff;}
.guide2,.blue2,.data2,.code,.box,SPAN.blue,TH.data{background:#F8F8FF;}
.callout,.data3{background:#ACFFE3;}
TD.guide1,TD.guide2,TD.guide3{padding-right:3px;padding-left:3px;vertical-align:top;}
TD.guide{padding-right:5px;padding-left:5px;vertical-align:top;}
.data,.data1,.data2,.data3{padding:3px;border-bottom:1px solid #999999;}
TABLE.data{border:1px solid #999999;border-collapse:collapse;}
SPAN.blue{font-weight:bold;}
.rss-title,.rss-items{margin:0px; padding:0px;}.rss-item{list-style:none;}
