/*
    copyright (c) 2001, Romain Lerallut <rlerallut@free.fr>

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

    http://www.gnu.org/copyleft/gpl.html
*/




BODY
{
	font-family: verdana;
}

DIV.ABSTRACT
{
	border: solid 2px;
	padding-left: 10pt;
	padding-right: 10pt;
}
PRE.SCREEN
{
	background-color: #ffffcc;
	border:solid;
	border-color: #009999;
	border-left: solid #009999 20px;
	border-right: solid #009999 0px;
	border-top: solid #009999 0px;
	border-bottom: solid #009999 0px;
	
	padding-left: 15pt;	
}

PRE.PROGRAMLISTING
{
	background-color: #ffffcc;
	border:solid;
	border-color: #009999;
	border-left: solid #009999 20px;
	border-right: solid #009999 0px;
	border-top: solid #009999 0px;
	border-bottom: solid #009999 0px;
	
	padding-left: 15pt;	
}


H1
{
	color: #ffffff;
	border: solid 3px #a0a0d0;
	background-color: #606090;
	font-variant: small-caps;

}

H2
{	
        COLOR: black ;
        font-style: italic;
        BACKGROUND-color: #a0a0d0;
        BORDER: solid 3px #606090;
        PADDING: 1px
}

TABLE.IMPORTANT
{
	font-style:italic;
	border: solid 2px #ff0000;
	width: 70%;
	margin-left: 15%;	
}
TABLE.CAUTION
{
	font-style:italic;
	border: ridge 2px #ffff00;
	width: 70%;
	margin-left: 15%;	
}

TABLE.NOTE
{
	font-style:italic;
	border: solid 1px #000000;
	width: 70%;
	margin-left: 15%;	
}
TABLE.TIP
{
	font-style:italic;
	border: solid 1px #000000;
	width: 70%;
	margin-left: 15%;	
}

TABLE.WARNING
{
	font-style:italic;
	font-style:bold;
	border: ridge 4px #ff0000;
	
	width: 70%;
	margin-left: 15%;	
}
